// Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.statCard {
  display: flex;
  flex-flow: column wrap;
  z-index: 0;
  flex: 1;
  flex-basis: 100%;
  margin-bottom: 1rem;
  transition: transform var(--transition-duration);
  &:hover {
    transform: scale(1.02);
  }
  @media (min-width: 800px) {
    flex-basis: 33%;
    min-width: 200px;
    max-width: none;
    margin-bottom: 0;
  }
  @media (min-width: 950px) {
    max-width: 300px;
  }

  > div {
    background: var(--background-primary);
    box-shadow: var(--card-shadow-secondary);
    display: flex;
    border-radius: 1rem;
    margin-right: 1.25rem;
    padding: 0.9rem 0rem;
    max-height: 5.25rem;
    flex-flow: row wrap;

    @media (max-width: 799px) {
      box-shadow: var(--card-shadow);
    }
    > label {
      background: var(--background-invert);
      opacity: 0;
      position: absolute;
      top: -1rem;
      left: -8px;
      z-index: 2;
      border-radius: 0.5rem;
      padding: 0 0.5rem;
      width: max-content;
      max-width: 250px;
      transition: opacity var(--transition-duration);
      > h3 {
        color: var(--text-color-invert);
        font-family: InterSemiBold, sans-serif;
        text-align: center;
        margin: 0;
        font-size: 0.9rem;
      }
    }
    &:hover {
      label {
        opacity: 1;
      }
    }
    @media (max-width: 749px) {
      margin-right: 0;
      padding: 0.9rem 0;
    }
  }
}
