// Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.btnSubmitInvert {
  border: 1px solid var(--accent-color-primary);
  border-radius: var(--btn-sm-radius);
  color: var(--accent-color-primary);
}

.btnSubmitInvertSm {
  padding: var(--btn-lg-padding);
  font-size: var(--btn-sm-font-size);
}

.btnSubmitInvertLg {
  padding: var(--btn-lg-padding);
  font-size: var(--btn-lg-font-size);
}
