// Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.btnSubmitInvert {
  border: 1px solid var(--accent-color-stroke);
  border-radius: var(--button-border-radius-small);
  color: var(--accent-color-stroke);
}

.btnSubmitInvertSm {
  padding: var(--button-padding-large);
  font-size: var(--button-font-size-small);
}

.btnSubmitInvertLg {
  padding: var(--button-padding-large);
  font-size: var(--button-font-size-large);
}
