// Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.container {
  .inner {
    display: flex;
    flex-flow: column wrap;
    width: 100%;

    > h4 {
      background: var(--button-popover-tab-background);
      color: var(--text-color-tertiary);
      font-family: InterSemiBold, sans-serif;
      overflow: hidden;
      padding: 0 0.75rem;
      line-height: 3rem;
    }

    > section {
      overflow: hidden;
      > section {
        overflow: hidden;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
