// Copyright 2024 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.multiThree {
  width: 300%;
  > div {
    flex-basis: 33.33%;
    min-width: 33.33%;
  }
}
