// Copyright 2026 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.wrapper {
  --button-border-radius: 2rem;
  --button-vertical-space: 1.1rem;

  height: inherit;
  width: 100%;
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  margin-top: 0.38rem;

  @media (width <= 650px) {
    flex-wrap: wrap;
  }
}

.button {
  height: 3.75rem;
  width: 100%;
  border-radius: var(--button-border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  white-space: nowrap;
  transition: filter 0.15s;
  flex-shrink: 1;
  background-color: var(--accent-primary);
  color: white;
  flex-grow: 1;
  padding: 0 2rem;
  font-size: 1.3rem;
  line-height: 1.3rem;
  border: none;

  &:hover {
    filter: brightness(90%);
  }

  @media (width <= 650px) {
    border-radius: var(--button-border-radius);
    margin-top: var(--button-vertical-space);
    flex-grow: 1;
    flex-basis: 100%;
  }

  svg {
    margin: 0 0.75rem;
  }

  &:disabled {
    opacity: var(--opacity-disabled);
    cursor: default;
  }
}

.buttonDisabled {
  background-color: var(--accent-pending);

  &:hover {
    filter: none;
  }
}

.buttonPulse {
  box-shadow: 0 0 30px 0 var(--accent-pending);
  transform: scale(1);
  animation: pulse 4s infinite;

  @keyframes pulse {
    0% {
      transform: scale(0.98);
      box-shadow: 0 0 0 0 var(--accent-pending);
    }

    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgb(0 0 0 / 0%);
    }

    100% {
      transform: scale(0.98);
      box-shadow: 0 0 0 0 rgb(0 0 0 / 0%);
    }
  }
}
