// Copyright 2024 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.pageRow {
  display: flex;
  flex-shrink: 0;
  flex-flow: row wrap;
  width: 100%;
  margin: 0;
}

.pageRowYMargin {
  margin: 1rem 0;
}
