// Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.btnPrimary {
  background: var(--accent-primary);
  border: 1px solid var(--accent-primary);
  border-radius: var(--btn-lg-radius);
  color: white;
  transition: transform 0.15s;
}

.btnPrimarySecondaryColor {
  background: var(--accent-secondary);
  border: 1px solid var(--accent-secondary);
}
