// Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.addressHeader {
  display: flex;
  align-items: center;
  padding: 1rem 1rem 0;
  width: 100%;
}
