// Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.btnList {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  margin-top: 1rem;

  &.forceHeight {
    max-height: 50vh;
    min-height: 50vh;
  }
  > .inner {
    position: relative;
    width: auto;
    overflow: hidden;
    overflow-y: auto;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  > .inner > button:last-child {
    margin-bottom: 1rem;
  }
}
