// Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.content {
  color: var(--text-invert);
  background: var(--bg-invert);
  box-shadow: var(--shadow);
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  font-size: 1.1rem;
  line-height: 1.4rem;
  user-select: none;
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
  max-width: 220px;

  &[data-state='delayed-open'][data-side='top'] {
    animation-name: slide-down-and-fade;
  }

  z-index: 99;
}


.inverted {
  background: var(--bg-primary);
  color: var(--text-secondary);
}

.fadeIn {
	transform-origin: var(--radix-tooltip-content-transform-origin);
	animation: scale-in 0.1s ease-out;
}

.arrow {
  fill: var(--bg-invert);
}

.arrowInverted {
  fill: var(--bg-primary);
}

@keyframes slide-down-and-fade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scale-in {
	from {
		opacity: 0;
		transform: scale(0.5);
	}

	to {
		opacity: 1;
		transform: scale(1);
	}
}