// Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.Content {
  color: var(--text-color-invert);
  background: var(--background-invert);
  box-shadow: var(--card-shadow);
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  font-size: 1.1rem;
  line-height: 1;
  user-select: none;
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
  &[data-state='delayed-open'][data-side='top'] {
    animation-name: slideDownAndFade;
  }
  z-index: 99;
}


.Inverted {
  background: var(--background-primary);
  color: var(--text-color-secondary);
}

.FadeIn {
	transform-origin: var(--radix-tooltip-content-transform-origin);
	animation: scaleIn 0.1s ease-out;
}

.Arrow {
  fill: var(--background-invert);
}
.ArrowInverted {
  fill: var(--background-primary);
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scaleIn {
	from {
		opacity: 0;
		transform: scale(0.5);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}