version: 2

updates:
  - package-ecosystem: npm
    directory: '/'
    schedule:
      interval: weekly
    open-pull-requests-limit: 20
    ignore:
      - dependency-name: 'qrcode-generator'
      - dependency-name: 'framer-motion'
    groups:
      biome:
            patterns:
              - '@biomejs*'
      react:
        patterns:
          - 'react*'
          - 'styled-components'
          - '@fortawesome/*'
          - 'react-helmet-async'
          - 'react-router-dom'
      types:
        patterns:
          - '@types/*'
      utils-and-qrcode:
        patterns:
          - 'classnames'
          - 'date-fns'
          - 'buffer'
          - 'compare-versions'
          - '@ledgerhq/*'
          - 'rxjs'
          - 'chroma-js'
          - 'xxhash-wasm'
          - 'html5-qrcode'
          - 'chroma-js'
      vite:
        patterns:
          - 'vite*'
          - 'vite-plugin-*'
      charts:
        patterns:
          - 'chart.js'
          - 'react-chartjs-2'
      polkadot:
        patterns:
          - '@polkadot/*'
          - '@zondax/ledger-substrate'
          - 'dedot'
          - '@dedot/*'
      ui:
        patterns:
          - '@w3ux/*'
          - 'ui-*'
          - 'locales'
          - 'styles'
          - 'assets'
      wagmi:
        patterns:
          - 'viem'
          - 'wagmi'
      testing:
        patterns:
          - 'vitest'
          - 'vite-bundle-visualizer'
    commit-message:
      prefix: 'deps'

  - package-ecosystem: github-actions
    directory: '/'
    schedule:
      interval: weekly
    commit-message:
      prefix: 'ci'
