// Copyright 2024 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.main {
  padding-top: 3rem;
  min-height: calc(100vh - 12rem);
  padding-bottom: 2rem;
  width: 100%;
  > h1 {
    margin-top: 1.5rem;
    margin-bottom: 1.25rem;
  }
}