// Copyright 2026 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.label {
  color: var(--gray-900);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.4em;
  font-size: 0.85rem;
}
