// Copyright 2024 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.spinner {
  width: 2rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background: 
    radial-gradient(farthest-side,#bbb 94%,#0000) top/0.3em 0.3em no-repeat,
    conic-gradient(#0000 30%,#bbb);
  mask: radial-gradient(farthest-side,#0000 calc(100% - 0.3em),#000 0);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 0.3em),#000 0);
  animation: spin 1s infinite linear;
}
@keyframes spin{ 
  100%{transform: rotate(1turn)}
}