*.css
*.scss
*.lottie
*.woff2
*.svg
*.png
*.json
*.log
*.lock
*.md
*.ico
*.ttf
*.xml
*.txt
*.html
*.webmanifest
**/LICENSE
**/node_modules
**/dist
**/build
**/CHANGELOG.md
**/.yarn
**/.licenserc.json
**/lottie
**/vite.config.ts