// Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.total {
  color: var(--text-color-secondary);
  display: flex;
  font-size: 0.95rem;
  margin-left: 0.4rem;
  position: relative;
  bottom: 0.1rem;
}
