// Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.cardLabel {
  color: var(--text-color-secondary);
  font-family: InterSemiBold, sans-serif;
  margin-top: 0.2rem;
  margin-left: 0.4rem;
  font-size: 1.1rem;
}
