// Copyright 2024 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.page-padding {
  padding-left: 1.25rem;
  padding-right: 1.25rem;

  /* NOTE: same as `PageWidthSmallThreshold` + 1 constant in `src/consts.ts`. */
  @media (min-width: 826px) {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }

  /* NOTE: same as `PageWidthSmallThreshold` + 1 constant in `src/consts.ts`. */
  @media (min-width: 826px) {
    padding: 0 5rem 0 2.5rem;
  }
}
