// Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.headFullWidth {
  width: 100%;
  display: flex;
  align-items: flex-end;
  padding: 2rem 1.5rem 1.1rem 1rem;
  justify-content: center;


  > .inner {
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
  }
}
