// Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.tokenFiat {
  display: flex;
  align-items: center;
  margin-top: 0.35rem;
  margin-left: 0.25rem;

  > div {
    &:first-child {
      width: 3rem;
      max-width: 3rem;
    }
    &:last-child {
      padding-left: 0.8rem;
      flex: 1;
      > h1 {
        color: var(--text-color-secondary);
        font-family: InterBold, sans-serif;
        font-size: 1.4rem;
        margin-bottom: 0.3rem;
        display: flex;
        align-items: center;
      }
      > h3 {
        color: var(--text-color-secondary);
        font-family: Inter, sans-serif;
        font-size: 1.2rem;
      }
    }
  }
}
