// Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.btnCopy {
  position: relative;
  display: inline-block;
  font-size: inherit; 
  width: inherit;
  height: inherit;

  &.xMargin {
    margin-left: 0.4rem;
    margin-right: 0.4rem;
  }
  
 > .copyIcon {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: inherit;
   
    &.active {
      animation: fadeOutIn 2s ease-in-out 1;
    }
    > .icon {
      color: var(--text-color-tertiary);
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: auto;
    }
  }

  > .checkIcon {
    color: var(--status-success-color);
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    width: 100%;
    height: 100%;;
    font-size: inherit;
    opacity: 0;

    &.active {
      animation: fadeInOut 2s ease-in-out 1;
    }
    > .icon {
      position: absolute;
      top: 0;
      right: 0;
      width: inherit;
      height: auto;
    }  
  }

  &.inheritSize {
    > svg {
      width: auto;
      max-height: 100%;
    }
  }

  &:hover {
    > .copyIcon {
      > .icon {
        color: var(--text-color-secondary);
      }
    }
  }


  /* Copy icon fade out followed by fade in */
  @keyframes fadeOutIn {
    0% {
      opacity: 1;
      transform: scale(1);
    }
    12.5% {
      opacity: 0;
      transform: scale(0);
    }
    87.5% {
      opacity: 0;
      transform: scale(0);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  /* Tick icon fade in followed by fade out */
  @keyframes fadeInOut {
    0% {
      opacity: 0;
      transform: scale(0);
    }
    12.5% {
      opacity: 1;
      transform: scale(1);
    }
    87.5% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(0);
    }
  }
}

