/* Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
SPDX-License-Identifier: GPL-3.0-only */

.list {
  > div {
    border: 1px solid var(--border);
    border-radius: 0.75rem;
    margin-bottom: 1.5rem;
    padding-top: 1rem;

    &:last-child {
      margin-bottom: 0;
    }

    > h3 {
      color: var(--text-secondary);
      display: flex;
      align-items: flex-start;
      padding: 0.25rem 0.75rem 1.25rem 0.75rem;
      gap: 0.5rem;
    }
  }
}
