// Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

@use 'styles/theme/_variables' as *;

.container {
  display: flex;
  height: 100vh;
}

.advanced {
  background: var(--accent-color-primary);
  width: $side-advanced-width;
  height: inherit;
  display: flex;
  flex-direction: column;

  @media (max-width: $page-width-medium-threshold) {
    display: none;
  }
}

.nav {
  min-width: $side-nav-maximised-width;
  max-width: $side-nav-maximised-width;
  position: sticky;
  top: 0;
  z-index: 7;
  height: inherit;
  flex: 0;
  display: flex;
  flex-direction: column;
  transition: all 0.5s cubic-bezier(0.1, 1, 0.2, 1);

  &.default {
    @media (max-width: $page-width-medium-threshold) {
      display: none;
    }
    &.minimised {
      @media (min-width: ($page-width-medium-threshold + 1px)) {
        min-width: $side-nav-minimised-width;
        max-width: $side-nav-minimised-width;
      }
    }
  }

  &.floating {
    @media (max-width: $page-width-medium-threshold) {
      min-width: $side-menu-floating-width;
      max-width: $side-menu-floating-width;
      position: fixed;
      top: 0;
      left: 0;
    }
    @media (min-width: ($page-width-medium-threshold + 1px)) {
      display: none;
    }
    &.hidden {
      @media (max-width: $page-width-medium-threshold) {
        left: calc($side-menu-floating-width * -1);
      }
    }
  }
}
