// Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

@import 'styles/theme/_variables';

.side {
  /* maximised by default, or minimised otherwise. */
  min-width: $side-menu-maximised-width;
  max-width: $side-menu-maximised-width;
  z-index: 7;
  position: sticky;
  top: 0;
  height: 100vh;
  flex: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0.1, 1, 0.2, 1);

  @media (max-width: $page-width-medium-threshold) {
    min-width: $side-menu-hidden-width;
    max-width: $side-menu-hidden-width;
    position: fixed;
    top: 0;
    left: 0;
  }

  &.minimised {
    @media (min-width: ($page-width-medium-threshold + 1px)) {
      min-width: $side-menu-minimised-width;
      max-width: $side-menu-minimised-width;
    }
  }
  &.hidden {
    @media (max-width: $page-width-medium-threshold) {
      left: calc($side-menu-hidden-width * -1);
    }
  }
}
