// Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.statSubtitle {
  color: var(--text-color-secondary);
  font-family: InterSemiBold, sans-serif;
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}