// Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.tokenInput {
  &.marginY {
    margin: 1rem 0 1.25rem;
  }

  &:focus-within label {
    color: var(--accent-primary);
  }

  > label {
    color: var(--text-secondary);
    font-family: InterSemiBold, sans-serif;

    &:focus {
      color: var(--accent-primary);
    }
  }

  > input {
    border: 1px solid var(--border);
    background: var(--bg-body);
    color: var(--text-primary);
    border-radius: 1.5rem;
    padding: 1rem 1.25rem;
    width: 100%;
    font-size: 1.3rem;
    margin-top: 0.5rem;

    &:focus {
      border-color: var(--accent-pending);
    }
  }
}
