// Copyright 2024 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

@import 'styles/theme/_variables';

.pageTitleTabs {
  border-bottom: 1px solid var(--border-primary-color);
  overflow: hidden;
  height: 3.6rem;
  margin-top: 0.9rem;
  max-width: 100%;

  @media (max-width: $page-width-medium-threshold) {
    margin-top: 0.5rem;
  }
}

.pageTitleTabs_inline {
  border-bottom: none;
}

.pageTitleTabs_sticky {
  border-bottom: 0;
  margin-top: 0.5rem;
}

.pageTitleTabs_scroll {
  width: 100%;
  height: 4.5rem;
  overflow: auto hidden;
}

.pageTitleTabs_inner {
  display: flex;  
}