// Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.item {
  border-bottom: 1px solid var(--border-primary-color);
  flex: 1;
  display: flex;
  align-items: center;
  height: 5.4rem;

  &.asButton {
    &:hover {
      background: var(--button-popover-tab-background);
      cursor: pointer;
    }
  }

  &.last {
    border-bottom: none;
  }

  > div {
    display: flex;
    align-items: center;

    &:first-child {
      flex: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 4.25rem;
      max-width: 4.25rem;
    }

    &:last-child {
      flex-grow: 1;
      display: flex;
      padding-right: 0.75rem;
      > div {
        &:first-child {
          flex-grow: 1;
        }
      }
    }
  }
}
