// Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.webUrl {
  color: var(--text-color-tertiary);
  font-family: Inter, sans-serif;
  display: flex;
  align-items: center;

  > button {
    color: var(--text-color-tertiary);
    font-size: 1.1rem;
    margin-top: 0.2rem;
    text-decoration: none;
    width: auto;

    &:hover {
      text-decoration: underline;
    }
  }
}