// Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.backdrop {
  background: var(--modal-background-color);
  transition: backdrop-filter 0.5s;
  backdrop-filter: blur(4px);
  z-index: 9;
}
