// Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.popover {
  padding-top: 1.5rem;
  background: var(--bg-primary);
  border-radius: 0.75rem;
}