// Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only


.loader {
  background: var(--shimmer-fg);
  background-image: linear-gradient(
    to right,
    var(--shimmer-fg) 0%,
    var(--shimmer-bg) 20%,
    var(--shimmer-fg) 70%,
    var(--shimmer-fg) 100%
  );
  background-repeat: no-repeat;
  background-size: 60% 100%;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: shimmer-loader;
  animation-timing-function: linear;
  opacity: 0.4;
  border-radius: 1.5rem;
  display: inline-block;
  position: relative;

  @keyframes shimmer-loader {
    0% {
      background-position: 0 0;
    }

    100% {
      background-position: 290% 0;
    }
  }
}