// Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.header {
  border-bottom: 1px solid var(--border);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 16rem;
  background: linear-gradient(
    to top,
    var(--bg-body) 0%,
    var(--bg-primary) 100%
    );
    
  &.marginY {
    margin-bottom: 2rem;
  }

  > div {
    display: flex;
    align-items: center;
    flex-direction: column;

    &:first-child {
      margin-bottom: 1rem;

      > svg {
        width: 5rem;
        filter: drop-shadow(0 0.25rem 0.5rem rgb(0 0 0 / 25%));
      }
    }

    &:nth-child(2) {
      > h4 > a {
        color: var(--text-tertiary);
        font-family: var(--font-family-default);

        &:hover {
          color: var(--text-secondary);
        }
      }
    }

    &:last-child {
      position: relative;
      bottom: -1.25rem;
      margin: 0.4rem 0;

      &.offset {
        position: absolute;
        bottom: -1.5rem;
        margin: 0;
      }

      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;

      > span,
      > div {
        border: 1px solid var(--border-alt);
        background: var(--bg-primary);
        padding: 0.25rem 0.5rem;
        border-radius: 0.5rem;
        margin: 0 0.25rem;

        > button {
          font-size: 1.1rem;
        }
      }
    }
  }
}
