// Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.btnMenu {
  color: var(--text-primary);
  font-size: 1.15rem;
  opacity: 0.8;
  height: 3rem;

  &:hover {
    opacity: 1;
  }

  &:disabled {
    opacity: 0.3;
  }

  &:last-child {
    border-right: 0;
  }

  &.danger {
    color: var(--status-danger);

    &:hover {
      color: var(--status-danger);
    }
  }
}
