// Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.wrapper {
  --button-border-radius: 1.4rem;

  height: inherit;
  min-height: 4.5rem;
  width: 100%;
  flex: 1;
  display: flex;
  flex-flow: row wrap;
}

.button {
  height: 100%;
  width: 100%;
  padding: 0.4rem 2rem;
  border: none;
  border-radius: var(--button-border-radius);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-grow: 1;
  flex-shrink: 1;
  background-color: var(--accent-primary);
  color: white;
  transition: filter 0.15s;
  cursor: pointer;

  &:hover {
    filter: brightness(90%);
  }

  &:disabled {
    opacity: var(--opacity-disabled);
    cursor: default;
  }

  @media (width <= 650px) {
    margin-top: 1.1rem;
    flex-basis: 100%;
  }
}

.buttonContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  gap: 0.5rem;
}

.rowOne {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family-semibold);
  font-size: 1.25rem;
  white-space: nowrap;

  svg {
    margin-left: 0.75rem;
  }
}

.rowTwo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.92rem;
  opacity: 0.9;
}

.buttonDisabled {
  background-color: var(--accent-pending);

  &:hover {
    filter: none;
  }
}


.buttonPulse {
  box-shadow: 0 0 30px 0 var(--accent-pending);
  transform: scale(1);
  animation: pulse 4s infinite;

  @keyframes pulse {
    0% {
      transform: scale(0.98);
      box-shadow: 0 0 0 0 var(--accent-pending);
    }

    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgb(0 0 0 / 0%);
    }

    100% {
      transform: scale(0.98);
      box-shadow: 0 0 0 0 rgb(0 0 0 / 0%);
    }
  }
}