// Copyright 2024 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

/* Button Mixins */

@mixin btn-core {
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  background: none;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
  }

  * {
    box-sizing: border-box;
  }
}

@mixin btn-layout {
  font-family: InterSemiBold, sans-serif;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;

  &.grow {
    flex: 1 1 0%;
  }
}

@mixin btn-spacing {
  &.m-left {
    margin-left: var(--button-spacing-large);
  }

  &.m-right {
    margin-right: var(--button-spacing-large);
  }

  &.m-x {
    margin: 0 var(--button-spacing-large);
  }
}

@mixin btn-icons {
  > .icon-left {
    margin-left: var(--button-spacing-small);
    margin-right: var(--button-spacing-large);
  }

  > .icon-right {
    margin-left: var(--button-spacing-large);
    margin-right: var(--button-spacing-small);
  }
}

@mixin btn-small {
  padding: var(--button-padding-small);
  font-size: var(--button-font-size-small);
}

@mixin btn-large {
  padding: var(--button-padding-large);
  font-size: var(--button-font-size-large);
}

@mixin btn-submit {
  &.sm {
    padding: var(--button-padding-large);
    font-size: var(--button-font-size-small);
  }

  &.lg {
    padding: var(--button-padding-large);
    font-size: var(--button-font-size-large);
  }
}

@mixin btn-disabled {
  transition:
    opacity var(--transition-duration),
    color var(--transition-duration);

  &:disabled {
    opacity: var(--opacity-disabled);
    cursor: default;
  }
}

@mixin btn-pulse {
  &.pulse {
    box-shadow: 0 0 30px 0 var(--accent-color-pending);
    transform: scale(1);
    animation: pulse 2s infinite;

    @keyframes pulse {
      0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 var(--accent-color-pending);
      }

      70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgb(0 0 0 / 0%);
      }

      100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgb(0 0 0 / 0%);
      }
    }
  }
}

/* Button Styles */

.btn-help {
  @include btn-core;
  @include btn-layout;
  @include btn-spacing;
  @include btn-disabled;

  background: var(--button-tertiary-background);
  color: var(--text-color-secondary);
  fill: var(--text-color-secondary);
  border-radius: 50%;
  padding: 0;
  width: 1.35rem;
  height: 1.35rem;

  &.background-secondary {
    background: var(--button-primary-background);
  }

  &.background-none {
    background: none;
  }

  &.outline {
    border: 1px solid var(--text-color-tertiary);
    color: var(--text-color-tertiary);
    fill: var(--text-color-tertiary);

    &:hover {
      border: 1px solid var(--accent-color-primary);
      color: var(--accent-color-primary);
    }
  }

  &:hover {
    fill: var(--accent-color-primary);
  }
}

.btn-mono {
  @include btn-core;
  @include btn-layout;
  @include btn-spacing;
  @include btn-icons;
  @include btn-disabled;

  background: var(--text-color-primary);
  border: 1px solid var(--text-color-primary);
  border-radius: var(--button-border-radius-large);
  color: var(--text-color-invert);

  &.secondary-color {
    border-color: var(--text-color-secondary);
    background: var(--text-color-secondary);
  }

  &.sm {
    @include btn-small;
  }

  &.lg {
    @include btn-large;
  }
}

.btn-mono-invert {
  @include btn-core;
  @include btn-layout;
  @include btn-spacing;
  @include btn-icons;
  @include btn-disabled;

  border: 1px solid var(--text-color-primary);
  border-radius: var(--button-border-radius-large);
  color: var(--text-color-primary);

  &.secondary-color {
    border-color: var(--text-color-secondary);
    background: var(--text-color-secondary);
  }

  &.sm {
    @include btn-small;
  }

  &.lg {
    @include btn-large;
  }
}

.btn-option {
  @include btn-core;

  background: var(--button-primary-background);
  transition: all var(--transition-duration);
  padding: 1rem;
  cursor: pointer;
  margin-bottom: 1rem;
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
  width: 100%;

  &.content {
    .details {
      display: flex;

      > h4 {
        margin-left: 1rem;

        span {
          background: var(--background-primary);
          border: 1px solid var(--border-primary-color);
          margin-right: 0.5rem;
          padding: 0.25rem 0.75rem;
          border-radius: 1rem;
        }
      }
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  h3,
  p {
    text-align: left;
    margin: 0;
  }

  h3 {
    font-family: InterSemiBold, sans-serif;
    margin-bottom: 0.5rem;
  }

  > div:last-child {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }

  .icon {
    margin-right: 0.5rem;
  }

  p {
    color: var(--text-color-primary);
    font-size: 1rem;
  }

  &:hover {
    background: var(--button-hover-background);
  }

  &:disabled {
    opacity: var(--opacity-disabled);
    cursor: default;
  }
}

.btn-primary {
  @include btn-core;
  @include btn-layout;
  @include btn-spacing;
  @include btn-icons;
  @include btn-disabled;

  background: var(--accent-color-primary);
  border: 1px solid var(--accent-color-primary);
  border-radius: var(--button-border-radius-large);
  color: white;

  &.secondary-color {
    background: var(--accent-color-secondary);
    border: 1px solid var(--accent-color-secondary);
  }

  &.sm {
    @include btn-small;
  }

  &.lg {
    @include btn-large;
  }
}

.btn-primary-invert {
  @include btn-core;
  @include btn-layout;
  @include btn-spacing;
  @include btn-icons;
  @include btn-disabled;

  border: 1px solid var(--accent-color-stroke);
  border-radius: var(--button-border-radius-large);
  color: var(--accent-color-stroke);

  &.secondary-color {
    border: 1px solid var(--accent-color-secondary);
    color: var(--accent-color-secondary);
  }

  &.sm {
    @include btn-small;
  }

  &.lg {
    @include btn-large;
  }
}

.btn-secondary {
  @include btn-core;
  @include btn-layout;
  @include btn-spacing;
  @include btn-icons;
  @include btn-disabled;

  background: var(--button-secondary-background);
  border: 1px solid var(--button-secondary-background);
  border-radius: var(--button-border-radius-large);
  color: var(--text-color-primary);

  &.sm {
    @include btn-small;

    border-radius: var(--button-border-radius-large);
  }

  &.lg {
    @include btn-large;
  }

  &:hover {
    background: var(--button-hover-background);

    &:disabled {
      background: var(--button-secondary-background);
    }
  }
}

.btn-submit {
  @include btn-core;
  @include btn-layout;
  @include btn-spacing;
  @include btn-icons;
  @include btn-submit;
  @include btn-disabled;
  @include btn-pulse;

  border: 1px solid var(--accent-color-primary);
  border-radius: var(--button-border-radius-small);
  background: var(--accent-color-primary);
  color: white;

  &.secondary-color {
    border-color: var(--accent-color-secondary);
    background: var(--accent-color-secondary);
  }
}

.btn-submit-invert {
  @include btn-core;
  @include btn-layout;
  @include btn-spacing;
  @include btn-icons;
  @include btn-submit;
  @include btn-disabled;

  border: 1px solid var(--accent-color-stroke);
  border-radius: var(--button-border-radius-small);
  color: var(--accent-color-stroke);
}

.btn-tab {
  @include btn-core;
  @include btn-layout;

  color: var(--text-color-primary);
  transition:
    opacity var(--transition-duration),
    font-size var(--transition-duration);
  border-radius: 0.5rem;
  font-size: 1.15rem;
  margin-bottom: 0.5rem;
  margin-right: 0.75rem;
  padding: 0 1rem;
  height: 3rem;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    opacity: 0.9;
  }

  &.canvas {
    color: var(--text-color-tertiary);

    &.active {
      color: var(--text-color-primary);
      background: var(--button-tab-canvas-background);
    }
  }

  &:disabled {
    cursor: default;
  }

  > span {
    display: flex;
    align-items: center;

    &.preload {
      opacity: 0;
    }

    > .badge {
      border: 1px solid var(--border-primary-color);
      color: var(--text-color-tertiary);
      font-size: var(--button-font-size-small);
      margin-left: var(--button-spacing-large);
      display: flex;
      padding: 0.3rem 0.6rem;
      align-items: center;
      justify-content: center;
      border-radius: 0.4rem;
      overflow: hidden;
      width: fit-content;
      max-width: 3rem;
    }
  }

  &.active {
    background: var(--button-tab-background);

    > span > .badge {
      border: 1px solid var(--border-secondary-color);
    }
  }

  &.preload {
    background: var(--shimmer-foreground);
  }

  &.canvas {
    &.preload {
      background: var(--shimmer-foreground);
      opacity: 1;
    }
  }
}

.btn-tertiary {
  @include btn-core;
  @include btn-layout;
  @include btn-spacing;
  @include btn-icons;
  @include btn-disabled;
  @include btn-small;

  border: 1px solid var(--button-secondary-background);
  border-radius: var(--button-border-radius-large);
  color: var(--text-color-secondary);
}

.btn-text {
  @include btn-core;
  @include btn-layout;
  @include btn-spacing;
  @include btn-icons;
  @include btn-disabled;

  color: var(--text-color-primary);
  border-radius: var(--button-border-radius-large);
  font-size: var(--button-font-size-small);
  padding: 0.45rem;

  &.secondary-color {
    border-color: var(--text-color-secondary);
  }
}
