// Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.head {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
