/* Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
SPDX-License-Identifier: GPL-3.0-only */

@import 'styles/theme/_variables';

.container {
  display: flex;
  flex-direction: column;
  padding-bottom: 0.75rem;
  width: 100%;
  margin: 0 auto;

  @media (min-width: $page-width-medium-threshold) {
    order: 0;
    flex: 1;
    flex-basis: 100%;
    width: 100%;
  }
}
