// Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.accent {
  > div:first-child {
    color: var(--accent-primary);
  }

  > div:first-child path {
    fill: var(--accent-primary);
    opacity: 1;
  }

  > div:nth-child(2) > h3 {
    color: var(--accent-primary);
  }

  > div:last-child h4 {
    color: var(--accent-primary);
  }
}
