/* Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
SPDX-License-Identifier: GPL-3.0-only */

.padding {
  padding: 1.4rem;

  &.vOnly {
    padding-left: 0;
    padding-right: 0;
  }

  &.hOnly {
    padding-top: 0;
    padding-bottom: 0;
  }
}
