// Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.subHeading {
  border-bottom: 1px solid var(--border);
  color: var(--text-secondary);
  font-family: var(--font-family-default);
  padding: 0.6rem 0.75rem;
  padding-top: 0;
}
