// Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.container {
  --vertical-spacing: 1.3rem;
  --border-width: 0.75px;

  display: flex;
  align-items: center;
  width: 100%;

  &.top {
    border-bottom: var(--border-width) solid var(--border-secondary-color);
    &.yMargin {
      margin-bottom: var(--vertical-spacing);
    }

    > button {
      &:first-child {
        border-top-left-radius: 1rem;
      }
      &:last-child {
        border-top-right-radius: 1rem;
      }
    }
  }

  &.bottom {
    border-top: var(--border-width) solid var(--border-secondary-color);
    &.yMargin {
      margin-top: var(--vertical-spacing);
    }

    > button {
      &:first-child {
        border-bottom-left-radius: 1rem;
      }
      &:last-child {
        border-bottom-right-radius: 1rem;
      }
    }
  }
}
