// Copyright 2024 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.padding {
  display: flex;
  flex-flow: column wrap;
  padding: 1rem;

  &.verticalOnly {
    padding: 1rem 0 0.25rem;
  }

  &.horizontalOnly {
    padding: 0 1rem;
  }
}
