// Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.btnSecondary {
  background: var(--button-secondary-background);
  border: 1px solid var(--button-secondary-background);
  border-radius: var(--button-lg-border-radius);
  color: var(--text-color-primary);
}
