// Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.btnSecondary {
  background: var(--btn-bg-secondary);
  border: 1px solid var(--btn-bg-secondary);
  border-radius: var(--btn-lg-radius);
  color: var(--text-secondary);

  &.active {
    background: var(--btn-bg-hover);
    border-color: var(--btn-bg-hover);
  }
}
