// Copyright 2024 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.separator {
  border-bottom: 1px solid var(--border-primary-color);
  width: 100%;
  height: 1px;
  opacity: 0.7;
}