// Copyright 2024 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.footer {
  border-radius: 1rem;
  overflow: hidden;
  margin-bottom: 2rem;
  width: 100%;
}