// Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.container {
  border-bottom: 1px solid var(--border);
  color: var(--text-secondary);
  font-family: Inter, sans-serif;
  display: flex;

  &.warning {
    border-color: var(--status-warning-transparent);
  }

  &.danger {
    border-color: var(--status-danger-transparent);
  }

  &.button {
    border-color: var(--accent-pending);
  }

  &:last-child {
    margin-right: 0;
  }

  .inner {
    display: flex;
    flex-flow: row nowrap;
    flex: 1;
    flex-shrink: 0;
    align-items: center;
    gap: 0.5rem;
    padding: 0.75rem 0;

    &.warning {
      background-color: var(--status-warning-bg);
    }

    &.danger {
      background-color: var(--status-danger-bg);
    }

    &.styled {
      border-radius: 0.7rem;
      padding-left: 1rem;
      padding-right: 1rem;
      margin-bottom: 0.5rem;
    }

    &.activeTransform {
      transition: transform 0.2s ease-in-out;
      cursor: default;

      &:hover {
        transform: scale(1.02);
      }
    }
  }

  &.hList {
    margin-right: 1.25rem;

    .inner {
      white-space: nowrap;
    }
  }
  
  &.vList {
    margin-bottom: 0.5rem;
  }
}


.badge {
  font-family: InterBold, sans-serif;
  display: flex;
  align-items: center;;
  font-size: 1.2rem;

  > button {
    color: var(--accent-primary);

    > svg {
      margin-left: 0.3rem;
    }
  }

  > svg {
    margin-right: 0.6rem;
  }

  > span {
    color: var(--text-primary);
    font-family: InterSemiBold, sans-serif;
    font-size: 0.95rem;
    margin-left: 0.3rem;
    margin-top: 0;
    margin-right: 0.75rem;

    &:last-child {
      margin-right: 0;
    }
  }

  &.primary {
    color: var(--text-primary);

    > span {
      color: var(--text-primary);
    }
  }

  &.secondary {
    color: var(--text-secondary);

    > span {
      color: var(--text-secondary);
    }
  }

  &.warning {
    color: var(--status-warning);
    font-family: Inter, sans-serif;

    > span {
      color: var(--status-warning);
    }
  }

  &.danger {
    color: var(--status-danger);
    font-family: Inter, sans-serif;

    > span {
      color: var(--status-danger);
    }
  }
}