// Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.container {
  display: flex;
  flex: 1;
  height: 5.85rem;
  padding: 0.3rem;

  @media(min-width: 951px) {
    padding-top: 0;

    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }
}

.btnQuickAction {
  background: var(--button-popover-tab-background);
  border: 1.25px solid var(--button-hover-background);
  border-radius: 0.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  cursor: pointer;
  cursor: pointer;
  flex: 1;
  padding-top: 0.6rem;

  &.disabled {
    cursor: default;
    > * {
      opacity: 0.4;
    }
  }

  @media (max-width: 1150px) {
    min-width: 12rem;
  }
 
  > .icon {
    svg  {
      filter: drop-shadow( 3px 3px 2px var(--border-secondary-color));
      transition: all 0.3s;
    }
  }

  > h4 {
    font-family: Inter, sans-serif;
    color: var(--text-color-secondary);
    margin-top: 0.85rem;
  }

  &.active {
    &:hover {
      background: var(--button-hover-background);
      > .icon > svg {
        transform: scale(1.1);
      }
    }
  }

  &.preloading {
    padding: 0;
    height: 5.5rem;
    border-radius: 1rem;
    
    > .inner {
      width: 100%;
      height: 100%;
      background: var(--shimmer-foreground);
      background-image: linear-gradient(
        to right,
        var(--shimmer-foreground) 0%,
        var(--shimmer-background) 20%,
        var(--shimmer-foreground) 40%,
        var(--shimmer-foreground) 100%
      );
      background-repeat: no-repeat;
      background-size: 60% 100%;
      animation-duration: 1.5s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      animation-name: shimmer-loader;
      animation-timing-function: linear;
      cursor: default;
      opacity: 0.1;
      position: relative;
    }

    @keyframes shimmer-loader {
      0% {
        background-position: 0px 0;
      }
      100% {
        background-position: 200% 0;
      }
    }
  }
}
