// Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.btnQuickAction {
  background: var(--button-popover-tab-background);
  border-right: 1px solid var(--border-primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.25rem;
  height: 6.45rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s;
  cursor: pointer;
  flex: 1;

  &.disabled {
    cursor: default;
    > * {
      opacity: 0.4;
    }
  }

  @media (max-width: 1150px) {
    min-width: 12rem;
  }

  &.active {
    &:hover {
      background: var(--button-hover-background);
    }
  }

  > h4 {
    font-family: Inter, sans-serif;
    color: var(--text-color-secondary);
    margin-top: 0.5rem;
  }

  &.preloading {
    background: var(--shimmer-foreground);
    background-image: linear-gradient(
      to right,
      var(--shimmer-foreground) 0%,
      var(--shimmer-background) 20%,
      var(--shimmer-foreground) 40%,
      var(--shimmer-foreground) 100%
    );
    background-repeat: no-repeat;
    background-size: 60% 100%;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: shimmer-loader;
    animation-timing-function: linear;
    cursor: default;
    opacity: 0.2;
    display: inline-block;
    position: relative;
    @keyframes shimmer-loader {
      0% {
        background-position: 0px 0;
      }
      100% {
        background-position: 200% 0;
      }
    }
  }
}
