// Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.container {
  display: flex;
  flex: 1;
  height: 5.85rem;
  padding: 0.3rem;

  // @media (width >= 951px) {
  //   padding-top: 0;

  //   &:first-child {
  //     padding-left: 0;
  //   }

  //   &:last-child {
  //     padding-right: 0;
  //   }
  // }
}

.btnQuickAction {
  background: var(--btn-popover-tab-bg);
  border: 1.25px solid var(--btn-bg-hover);
  border-radius: 0.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  cursor: pointer;
  flex: 1;
  padding-top: 0.6rem;

  &.disabled {
    cursor: default;

    > * {
      opacity: 0.4;
    }
  }

  @media (width <= 1150px) {
    min-width: 12rem;
  }
 
  > .icon {
    svg {
      filter: drop-shadow(3px 3px 2px var(--border-alt));
      transition: all 0.3s;
    }
  }

  > h4 {
    font-family: Inter, sans-serif;
    color: var(--text-secondary);
    margin-top: 0.85rem;
  }

  &.active {
    &:hover {
      background: var(--btn-bg-hover);

      > .icon > svg {
        transform: scale(1.1);
      }
    }
  }
}
