// Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.icon {
  color: var(--text-secondary);
  font-family: var(--font-family-semibold);
  padding-right: 1rem;

  svg {
    margin-right: 0.2rem;
    font-size: 1rem;
  }
}
