// Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.btnPrimaryInvert {
  border: 1px solid var(--accent-primary);
  border-radius: var(--btn-lg-radius);
  color: var(--accent-primary);
}
