.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 900px;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card.shadow {
  box-shadow: 3px 3px 5px grey;
}

.wallet {
  width: 350px;
  line-height: 1.5;
  max-height: 300px;
  overflow-y: scroll;
}

.walletheader {
  font-size: 2rem;
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
}

.account {
  width: 100%;
}

.account .name {
  font-size: 1.2rem;
  letter-spacing: -0.05;
}

.account .address {
  font-size: 0.9rem;
  letter-spacing: -0.025;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.btn {
  border-color: rgba(107, 111, 147, 0.4);
  box-shadow: rgb(107 111 147 / 15%) 0px 0px 10px 0px;
  background-color: rgba(107, 111, 147, 0.25);
  font-size: 1.25rem;
  border: 1px solid;
  padding: 0.5rem;
  margin: 0.2rem;
  display: block;
}
.btn.small {
  font-size: 1rem;
}

.flex {
  display: flex;
}

.flex.column {
  flex-direction: column;
}

.rounded {
  border-radius: 20px;
}

.btn:hover,
.btn:active {
  border-color: #0070f3;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .card,
  .wallet {
    width: 100%;
  }
}

@media (prefers-color-scheme: dark) {
  .card {
    border-color: #222;
  }
  .logo img {
    filter: invert(1);
  }
}