// Copyright 2023 @paritytech/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: Apache-2.0

html * {
  --network-color-primary: #9CFFAA;
  --network-color-primary-dark: #9CFFAA;
  --network-color-secondary: #9CFFAA;
  --network-color-secondary-dark: #9CFFAA;
  --network-color-stroke: #9CFFAA;
  --network-color-stroke-dark: #9CFFAA;
  --text-color-primary: #FFFFFF;
  --text-color-secondary: #777777;
  --button-tertiary-background: #464849;
  --background-default: #0A0C0E;
  --background-primary: #181A1C;
  font-size: 10.5px;

  .fa-wallet {
    color: black;
  }

  button {
    span {
      color: black;
    }
  }

  @media (min-width: 600px) {
    font-size: 11px;
  }
}
