/* Copyright 2023 @paritytech/polkadot-staking-dashboard authors & contributors
 * SPDX-License-Identifier: Apache-2.0 */

 .theme-polkadot {
  --network-color-primary-light: rgb(211, 48, 121);
  --network-color-primary-dark: rgb(211, 48, 121);
  --network-color-secondary-light: #552bbf;
  --network-color-secondary-dark: #6d39ee;
  --network-color-stroke-light: rgb(211, 48, 121);
  --network-color-stroke-dark: rgb(211, 48, 121);
  --network-color-transparent-light: rgb(211, 48, 121, 0.05);
  --network-color-transparent-dark: rgb(211, 48, 121, 0.05);
}

.theme-kusama {
  --network-color-primary-light: rgb(31, 41, 55);
  --network-color-primary-dark: rgb(126, 131, 141);
  --network-color-secondary-light: rgb(31, 41, 55);
  --network-color-secondary-dark: rgb(141, 144, 150);
  --network-color-stroke-light: #4c4b63;
  --network-color-stroke-dark: #d1d1db;
  --network-color-transparent-light: rgb(51,51,51,0.05);
  --network-color-transparent-dark: rgb(102,102,102, 0.05);
}

.theme-westend {
  --network-color-primary-light: #da4e71;
  --network-color-primary-dark: #da4e71;
  --network-color-secondary-light: #de6a50;
  --network-color-secondary-dark: #d7674e;
  --network-color-stroke-light: #da4e71;
  --network-color-stroke-dark: #da4e71;
  --network-color-transparent-light: rgb(218, 78, 113, 0.05);
  --network-color-transparent-dark: rgb(218, 78, 113, 0.05);    
}