/* Copyright 2022 @paritytech/polkadot-staking-dashboard authors & contributors
 * SPDX-License-Identifier: Apache-2.0 */

:root {
  --card-shadow: -2px 2px 10px;

  .theme-polkadot {
    --network-color-light: rgb(211, 48, 121);
    --network-color-dark: rgb(211, 48, 121);
    --network-color-secondary-light: #552bbf;
    --network-color-secondary-dark: #6d39ee;
    --network-color-stroke-light: rgb(211, 48, 121);
    --network-color-stroke-dark: rgb(211, 48, 121);
    --network-color-transparent-light: rgb(211, 48, 121, 0.05);
    --network-color-transparent-dark: rgb(211, 48, 121, 0.05);
  }

  .theme-kusama {
    --network-color-light: rgb(31, 41, 55);
    --network-color-dark: rgb(126, 131, 141);
    --network-color-secondary-light: rgb(31, 41, 55);
    --network-color-secondary-dark: rgb(141, 144, 150);
    --network-color-stroke-light: #4c4b63;
    --network-color-stroke-dark: #d1d1db;
    --network-color-transparent-light: rgb(51,51,51,0.05);
    --network-color-transparent-dark: rgb(102,102,102, 0.05);
  }

  .theme-westend {
    --network-color-light: #da4e71;
    --network-color-dark: #da4e71;
    --network-color-secondary-light: #de6a50;
    --network-color-secondary-dark: #d7674e;
    --network-color-stroke-light: #da4e71;
    --network-color-stroke-dark: #da4e71;
    --network-color-transparent-light: rgb(218, 78, 113, 0.05);
    --network-color-transparent-dark: rgb(218, 78, 113, 0.05);    
  }

  .theme-light {
    --network-color: var(--network-color-light);
    --network-color-secondary: var(--network-color-secondary-light);
    --network-color-stroke: var(--network-color-stroke-light);
    --network-color-transparent: var(--network-color-transparent-light);
    --card-shadow-color: #dedede;
    --card-shadow-color-secondary: #eaeaea;
  }

  .theme-dark {
    --network-color: var(--network-color-dark);
    --network-color-secondary: var(--network-color-secondary-dark);
    --network-color-stroke: var(--network-color-stroke-dark);
    --network-color-transparent: var(--network-color-transparent-dark);
    --card-shadow-color: #1f1f1f;
    --card-shadow-color-secondary: #222;
  }
}