// Copyright 2023 @paritytech/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: Apache-2.0

@use 'networks';

@font-face {
  font-family: 'Inter';
  font-style: normal;
  src: url('../../public/fonts/Inter.ttf');
}

@font-face {
  font-family: 'Unbounded';
  font-style: normal;
  src: url('../../public/fonts/Unbounded.ttf');
}

:root {
  --card-shadow: -2px 2px 10px;
  --transparent-color: rgba(0, 0, 0, 0);

  .theme-light {
    --background-default: #f5f4f4;
    --background-primary: #f8f7f7;
    --background-secondary: rgba(255,255,255,0.58);
    --background-invert: #333;
    --background-list-item: rgba(237,237,237,0.6);
    --background-modal-item: rgba(244,244,244,0.6);
    --background-floating-card: rgba(255,255,255,0.90);
    --background-app-footer: rgba(244,225,225,0.75);
    --background-modal: #fcfbfb;
    --background-warning: #fdf9eb;
    --background-modal-footer:#f5f4f4;
    --border-primary-color: #e6e6e6;
    --border-secondary-color: #ccc;
    --button-primary-background: #f4f3f3;
    --button-secondary-background: #eeecec;
    --button-tertiary-background: #ececec;
    --button-hover-background: #e8e6e6;
    --button-toggle-background: #f2f1f0;
    --card-shadow-color: #dedede;
    --card-shadow-color-secondary: #eaeaea;
    --network-color-primary: var(--network-color-primary-light);
    --network-color-secondary: var(--network-color-secondary-light);
    --network-color-stroke: var(--network-color-stroke-light);
    --network-color-transparent: var(--network-color-transparent-light);
    --overlay-tip-color: rgba(200,200,200,0.45);
    --overlay-modal-color: rgba(230,228,228,0.6);
    --shimmer-foreground: #e0e0e0;
    --shimmer-background: #ccc;
    --status-success-color: green;
    --status-success-color-transparent: rgba(0,128,0,0.25);
    --status-warning-color: #a78a3a;
    --status-warning-color-transparent: rgba(236,211,125,0.5);
    --status-danger-color: #ae2324;
    --status-danger-color-transparent: rgba(255,0,0,0.25);
    --text-color-primary: #333;
    --text-color-secondary: #444;
    --text-color-invert: #fafafa;
    --gradient-background: 
      linear-gradient(180deg, 
      #f5f4f4 0%, 
      #f5f4f4 100px, 
      #e6e6e6 80%, 
      #fdefea 100%);
    --gradient-side-menu: 
      linear-gradient(180deg, 
      rgba(244,242,242,0.93) 0%, 
      rgba(228,225,225,0.93) 100%);
    --gradient-highlight-primary:
      linear-gradient(90deg, 
      rgba(0,0,0,0.06) 0%, 
      rgba(0,0,0,0.03) 100%);
    --gradient-highlight-secondary:
      linear-gradient(90deg, 
      rgba(0,0,0,0.04) 0%, 
      rgba(0,0,0,0.01) 100%);
  }

  .theme-dark {
    --background-default: #272727;
    --background-primary: #1b1b1b;
    --background-secondary: rgba(0,0,0,0.25);
    --background-invert: #ddd;
    --background-list-item: rgba(33,33,33,0.6);
    --background-modal-item: rgba(22,22,22,0.4);
    --background-floating-card: rgba(0,0,0,0.85);
    --background-app-footer: rgba(39,39,39,0.75);
    --background-modal: #101010;
    --background-warning: #33332a;
    --background-modal-footer: #181818;
    --border-primary-color: #282828;
    --border-secondary-color: #444;
    --button-primary-background: #1a1a1a;
    --button-secondary-background: #333;
    --button-tertiary-background: #242424;
    --button-hover-background: #080808;
    --button-toggle-background: #1d1d1d;
    --card-shadow-color: #1f1f1f;
    --card-shadow-color-secondary: #222;
    --network-color-primary: var(--network-color-primary-dark);
    --network-color-secondary: var(--network-color-secondary-dark);
    --network-color-stroke: var(--network-color-stroke-dark);
    --network-color-transparent: var(--network-color-transparent-dark);
    --overlay-tip-color: rgba(30,30,30,0.6);
    --overlay-modal-color: rgba(16,16,16,0.6);
    --shimmer-background: #2a2a2a;
    --shimmer-foreground: #202020;
    --status-success-color: green;
    --status-success-color-transparent: rgba(0,128,0,0.25);
    --status-warning-color: rgba(219, 161, 0,1);
    --status-warning-color-transparent: rgba(255,165,0,0.5);
    --status-danger-color: #d14445;
    --status-danger-color-transparent: rgba(255,0,0,0.25);
    --text-color-primary: #ccc;
    --text-color-secondary: #aaa;
    --text-color-invert: #0e0e0e;
    --gradient-background: 
      linear-gradient(180deg, 
      #272727 0%,
      #272727 100px, 
      #1e1e1e 100%);
    --gradient-side-menu: 
      linear-gradient(180deg, 
      rgba(20,20,20,0.93) 0%, 
      rgba(14,14,14,0.93) 100%);
    --gradient-highlight-primary:
      linear-gradient(90deg,
      rgba(255,255,255,0.06) 0%,
      rgba(255,255,255,0.04) 100%);
    --gradient-highlight-secondary: 
      linear-gradient(90deg, 
      rgba(255,255,255,0.03) 0%, 
      rgba(255,255,255,0.01) 100%);
  }
}
