/* Copyright 2023 @paritytech/polkadot-staking-dashboard authors & contributors
 * SPDX-License-Identifier: Apache-2.0 */

@use 'networks';

:root {
  --card-shadow: -2px 2px 10px;
  --transparent-color: rgba(0, 0, 0, 0);

  .theme-light {
    --network-color-primary: var(--network-color-primary-light);
    --network-color-secondary: var(--network-color-secondary-light);
    --network-color-stroke: var(--network-color-stroke-light);
    --network-color-transparent: var(--network-color-transparent-light);
    --card-shadow-color: #dedede;
    --card-shadow-color-secondary: #eaeaea;
    --text-color-primary: #333;
    --text-color-secondary: #444;
    --text-color-success: green;
    --text-color-danger: #ae2324;
    --text-color-warning: #8e6c1a;
    --text-color-invert: #fafafa;
    --status-warning-color: rgba(219, 161, 0, 1);
  }

  .theme-dark {
    --network-color-primary: var(--network-color-primary-dark);
    --network-color-secondary: var(--network-color-secondary-dark);
    --network-color-stroke: var(--network-color-stroke-dark);
    --network-color-transparent: var(--network-color-transparent-dark);
    --card-shadow-color: #1f1f1f;
    --card-shadow-color-secondary: #222;
    --text-color-primary: #ccc;
    --text-color-secondary: #aaa;
    --text-color-success: green;
    --text-color-danger: #d14445;
    --text-color-warning: #cb9f37;
    --text-color-invert: #0e0e0e;
    --status-warning-color: rgba(219, 161, 0,1);
  }
}
