// Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.btnTab {
  color: var(--text-color-primary);
  transition:
    opacity var(--transition-duration),
    font-size var(--transition-duration);
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
  font-size: 1.15rem;
  margin-bottom: 0;
  margin-right: 0.75rem;
  padding: 0 1rem;
  height: 3.2rem;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    opacity: 0.9;
  }

  &:disabled {
    cursor: default;
  }
}

.btnTabInner {
  display: flex;
  align-items: center;
}

.btnTabActive {
  background: var(--btn-tab);
}

.btnTabSecondaryColorActive {
  background: var(--btn-canvas-tab);
}

.btnTabSecondaryColor {
  color: var(--text-color-secondary);
}

.btnTabBadge {
  border: 1px solid var(--border);
  color: var(--text-color-tertiary);
  font-size: var(--btn-sm-font-size);
  margin-left: var(--btn-lg-spacing);
  display: flex;
  padding: 0.3rem 0.6rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.4rem;
  overflow: hidden;
  width: fit-content;
  max-width: 3rem;
}
