/* Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
SPDX-License-Identifier: GPL-3.0-only */

.inner {
  background: var(--bg-body);
  border-radius: 0.75rem;
  width: 100%;
  padding-left : 0.5rem
}

.button {
  background: var(--bg-primary);
  color: var(--text-primary);
  border-radius: 0.75rem;
  width: 100%;
  padding: 0.75rem 1rem;
  margin-bottom: 0.65rem;
  transition: all 0.2s;
  
  &.active {
    color: var(--accent-primary);
  }

  &:hover {
    color: var(--text-secondary);
    box-shadow: var(--shadow-alt);  

    &.active {
      color: var(--accent-primary)
    }
  }
}