// Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.empty {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1.5rem 0 1.5rem 0;
}