// Copyright 2024 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.modalNotes {
  width: 100%;
  padding: 0;
  &.withPadding {
    padding: 0.75rem 0;
  }
  > p {
    color: var(--text-color-secondary);
  }
}