/* Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
SPDX-License-Identifier: GPL-3.0-only */

@use 'styles/theme/_variables' as *;

.Content {
  background: var(--bg-primary);
  box-shadow: var(--shadow);
  border-radius: $popover-border-radius;
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
  word-wrap: break-word;
  outline: none;
  transition: height var(--transition-duration);
  
  &[data-state='open'][data-side='bottom'] {
    animation-name: slideUpAndFade;
  }
  z-index: 99;

  &.Transparent {
    box-shadow: none;
    background: transparent;
    border-radius: none;
  }

  > div > p {
    margin: 0.5rem 0 0 0;
  }
}

.Arrow {
  fill: var(--bg-primary);
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
