// Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.btnPopoverTab {
  border-left: 1px solid var(--border);
  background: var(--btn-popover-tab-bg);
  color: var(--text-secondary);
  font-family: InterSemiBold, sans-serif;
  padding: 1.1rem 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.15rem;

  &:hover {
    background: var(--bg-body);
    &:disabled {
      background: var(--btn-popover-tab-bg);
    }
  }
  &:first-child {
    border-left: none;
  }
  &:disabled {
    cursor: default;
    opacity: 0.5;
  }
  &.grow {
    flex: 1;
  }
  &.warning {
    color: var(--status-warning);
  }
  &.danger {
    color: var(--status-danger);
  }
}
