// Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.heading {
  color: var(--text-color-secondary);
  font-size: 1.3rem;
  line-height: 1.6rem;
  padding-bottom: 1rem;
}