// Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.btnHelp {
  background: var(--btn-bg-tertiary);
  color: var(--text-secondary);
  fill: var(--text-secondary);
  border-radius: 50%;
  padding: 0;
  width: 1.35rem;
  height: 1.35rem;
}

.btnHelpSecondaryBackground {
  background: var(--btn-bg);
}

.btnHelpNoBackground {
  background: none;
}

.btnHelpOutline {
  border: 1px solid var(--text-tertiary);
  color: var(--text-tertiary);
  fill: var(--text-tertiary);

  &:hover {
    border: 1px solid var(--accent-primary);
    color: var(--accent-primary);
  }
}

.btnHelpIcon {
  &:hover {
    fill: var(--accent-primary);
  }
}
