// Copyright 2026 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.btnHelp {
  background: var(--btn-help-bg);
  color: var(--gray-900);
  fill: var(--accent-900);
  border-radius: 50%;
  padding: 0;
  width: 1.35rem;
  height: 1.35rem;
}

.btnHelpSecondaryBackground {
  background: var(--gray-400);
}

.btnHelpNoBackground {
  background: none;
}

.btnHelpOutline {
  border: 1px solid var(--text-tertiary);
  color: var(--text-tertiary);
  fill: var(--text-tertiary);
}

.btnHelpIcon {
  &:hover {
    fill: var(--accent-1000);
  }
}
