// Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.container {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  flex-grow: 1;
  padding: 0 0.75rem 0.5rem;
  
  @media (width <= 950px) {
    flex-wrap: wrap;
  }

  @media(width >= 951px) {
    > div {
      min-width: 33%;
    }
  }
}
