// Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

@use 'styles/theme/variables' as *;

.container {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  padding: 0 0.75rem 0.5rem;
  
  @media (width <= $row-section-thirds-threshold) {
    flex-wrap: wrap;
  }

  @media(width >= $row-section-thirds-threshold) {
    > div {
      min-width: 33.33%;
      max-width: 33.33%;
    }
  }
}
