// Copyright 2024 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  flex: 1;
  padding-bottom: 4.25rem
}
