// Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.statContent {
  padding-left: 1.25rem;
  flex-basis: 70%;
  flex: 1;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  overflow: hidden;
}