// Copyright 2024 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.preload {
  display: flex;
  flex-direction: column;
  position: relative;
  > h2 {
    color: var(--text-color-tertiary);
    font-family: Inter, sans-serif;
    display: flex;
    margin-top: 0.25rem;
    margin-bottom: 1.25rem;
    align-items: center;
  }
  > .loader {
    background-color: var(--background-canvas-card-secondary);
    color: var(--accent-color-primary);
    width: 100%;
    height: 0.5rem;
    border-radius: 1rem;
    position: relative;
    > div {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 1rem;
      > .progress {
        background-color: var(--accent-color-primary);
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        border-radius: 2rem;
        transition: width 1s cubic-bezier(0.1, 1, 0.1, 1);
      }
    }
  }
}