// Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.loader {
  background: var(--shimmer-fg);
  background-image: linear-gradient(
    to right,
    var(--shimmer-fg) 0%,
    var(--shimmer-bg) 40%,
    var(--shimmer-fg) 80%,
    var(--shimmer-fg) 350%
  );
  background-size: 200% 100%;
  animation: l1 1.5s infinite linear;
  border-radius: 1rem;
  width: 100%;
  height: 0.7rem;
}
@keyframes l1 {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: 0% 0;
  }
}
