// Copyright 2024 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.loader {
  background: var(--shimmer-foreground);
  background-image: linear-gradient(
    to right,
    var(--shimmer-foreground) 0%,
    var(--shimmer-background) 40%,
    var(--shimmer-foreground) 80%,
    var(--shimmer-foreground) 350%
  );
  background-size: 200% 100%;
  animation: l1 1.5s infinite linear;
  border-radius: 1rem;
  width: 100%;
  height: 0.7rem;
}
@keyframes l1 {
  0% {
    background-position: 200% 0; /* Start way to the left */
  }
  100% {
    background-position: 0% 0; /* Move 150% to the right */
  }
}
