/* Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
SPDX-License-Identifier: GPL-3.0-only */

.offlineLabel {
  background: var(--accent-color-primary);
  border: 0.5px solid var(--border-primary-color);
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 999;
  padding: 0.75rem 1.15rem;
  border-radius: 0.6rem;
  display: flex;
  align-items: center;

  > h3 {
    color: var(--text-color-invert);
  }

  > svg {
    color: var(--text-color-invert);
    margin-right: 0.75rem;
  }
}
