/* Copyright 2024 @paritytech/polkadot-staking-dashboard authors & contributors
SPDX-License-Identifier: GPL-3.0-only */

/* NOTE: This file should be imported in the main library entry file. */

/* Define theme variables. */

:root {
  --button-border-radius-small: 0.75rem;
  --button-border-radius-large: 1.5rem;
  --button-padding-small: 0.41rem 1rem;
  --button-padding-large: 0.53rem 1rem;
  --button-spacing-small: 0.125rem;
  --button-spacing-large: 0.625rem;
  --button-font-size-small: 1rem;
  --button-font-size-large: 1.15rem;  
}

/* Define global font sizes. */

html {
  font-size: 10.5px;
  @media (min-width: 600px) {
    font-size: 11px;
  }
}

/* Every element conforms to border-box by default. */

* {
  box-sizing: border-box;
}

/* Body style. */

body {
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  font-weight: normal;
  margin: 0;
}

/* Header styling. */

h1 {
  color: var(--text-color-primary);
  font-family: InterSemiBold, sans-serif;
  font-size: 1.6rem;
  line-height: 1.6rem;
  font-weight: 600;
  margin: 0;
}

h2 {
  color: var(--text-color-primary);
  font-family: InterSemiBold, sans-serif;
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-weight: 600;
  margin: 0;
}

h3 {
  color: var(--text-color-primary);
  font-family: InterSemiBold, sans-serif;
  font-size: 1.25rem;
  line-height: 1.55rem;
  font-weight: 500;
  margin: 0;
}

h4 {
  color: var(--text-color-secondary);
  font-family: InterSemiBold, sans-serif;
  font-size: 1.08rem;
  line-height: 1.65rem;
  font-weight: 500;
  margin: 0;
}

h5 {
  color: var(--text-color-secondary);
  font-size: 0.92rem;
  line-height: 1.02rem;
  font-weight: 500;
  margin: 0;
}

/* Pragraph style. */

p {
  color: var(--text-color-secondary);
  font-size: 1.04rem;
  line-height: 1.5rem;
  margin: 0.75rem 0;
}

/* Anchor style. */

a {
  color: var(--text-color-secondary);
  text-decoration: none;
  cursor: pointer;
}

/* Base button style. */

button {
  -webkit-tap-highlight-color: transparent;
  font-family: Inter, sans-serif;
  background: none;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

/* Base input style. */

input {
  color: var(--text-color-primary);
  font-family: Inter, sans-serif;
  font-size: 1.1rem;
  padding: 0.7rem 0;
  background: none;
  border: none;

  &::placeholder {
    color: #aaa;
  }

  &.underline {
    border-bottom: 1px solid #ddd;
  }
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none;
}

/* Base SVG style. */

path.primary,
ellipse.primary {
  fill: var(--text-color-primary);
}
