// Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.Root {
	box-shadow: var(--card-shadow);
	all: unset;
	width: 4rem;
	height: 2.15rem;
	border-radius: 9999px;
	position: relative;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	background-color: var(--border-secondary-color);

  &[data-state="checked"] {
		background-color: var(--accent-color-primary);
	}
}

.Thumb {
	display: block;
	width: 2rem;
	height: 2rem;
	background-color: white;
	border-radius: 5rem;
	transition: transform 100ms;
	transform: translateX(0.15rem);
	will-change: transform;
	
  &[data-state="checked"] {
		transform: translateX(1.85rem);
	}
}
