// Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.scroll {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 9;
}
