// Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.subtitle {
  color: var(--text-secondary);
  font-family: InterSemiBold, sans-serif;
  flex: 1;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  min-width: 0;
  padding-right: 0.75rem;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  &.primary {
    color: var(--accent-primary);

    > svg {
      margin-left: 0.5rem;
    }
  }
}
