// Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

// Import shared variables
@use '../variables' as *;

// App-specific component variables
$network-bar-font-size: 0.9rem;
$positive-color: #3eb955;
$negative-color: #d2545d;

// SelectItems breakpoints
$two-threshold: 800px;
$three-row-threshold: 1300px;
$two-threshold-min: $two-threshold + 1px;
$three-row-threshold-min: $three-row-threshold + 1px;
