// Copyright 2024 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only


.canvasScroll {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden auto;
  z-index: 9;
  max-width: 800px;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &.xl {
    max-width: 1250px;
  }
}
