// Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.graphic {
  margin-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  min-width: 1.75rem;
  height: 100%;
}
