// Copyright 2024 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.headerButtonRow {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
  flex-grow: 1;
  padding-right: 0.25rem;
}
