// Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

@use 'styles/theme/variables' as *;

.tipsWrapper {
  padding: $summary-footer-padding;
  position: relative;

  .inner {
    border: 1px solid var(--btn-bg-hover);
    display: flex;
    flex-flow: row wrap;
    border-radius: 1rem;
    overflow: hidden;
    padding: 0;
    height: $summary-footer-height;

    .items {
      display: flex;
      flex-grow: 1;
    }
  }

  &.warning {
    .inner {
      border-color: var(--status-warning);
    }

    .items {
      .desc h4 {
        color: var(--status-warning);
      }

      section svg {
        color: var(--status-warning);
      }
    }

    .pageToggle h4 {
      color: var(--status-warning);
    }

    .pageToggle > span > button > svg {
      color: var(--status-warning-transparent);
    }

    .pageToggle > span > button {
      color: var(--status-warning);
      background-color: transparent;

      > svg {
        color: var(--status-warning);
      }
    }
  }

  &.danger {
    .inner {
      border-color: var(--status-danger);
    }

    .items {
      .desc h4 {
        color: var(--status-danger);
      }

      section svg {
        color: var(--status-danger);
      }
    }

    .pageToggle h4 {
      color: var(--status-danger);
    }

    .pageToggle > span > button > svg {
      color: var(--status-danger-transparent);
    }

    .pageToggle > span > button {
      color: var(--status-danger);
      background-color: transparent;

      > svg {
        color: var(--status-danger);
      }
    }
  }
}

.itemsWrapper {
  width: 100%;
  display: flex;
  justify-items: center;
  justify-content: center;
}

.itemWrapper {
  padding: 0 0.25rem;
  flex-basis: 100%;

  &:last-child {
    margin-right: 0.25rem;
  }
}

.itemInner {
  display: flex;
  align-items: center;
  flex-grow: 1;
  height: 100%;

  > section {
    padding: 0 0.25rem;

    &:nth-child(2) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      flex: 1;

      .desc {
        display: flex;
        align-items: center;
        overflow: hidden;
        width: 100%;
        height: 1.5rem;
        position: relative;

        &.active > button > h4:hover {
          color: var(--accent-primary);

          > svg {
            color: var(--accent-primary);
            opacity: 1;
          }
        }

        h4 {
          color: var(--text-secondary);
          transition: color var(--transition-duration);
          font-family: Inter, sans-serif;
          text-align: left;
          font-size: 1.05rem;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          padding-right: 1.75rem;

          > svg {
            color: var(--text-secondary);
            transition: all var(--transition-duration);
            position: absolute;
            right: 0.2rem;
            top: 0.43rem;
            font-size: 1rem;
            opacity: 0.5;
            margin-left: 0.4rem;
          }
        }

        > button, > h4 {
          position: absolute;
          top: 0;
          left: 0;
          height: 1.5rem;
          max-width: 100%;
          width: auto;
        }
      }
    }
  }
}

.pageToggle {
  color: var(--text-secondary);
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
  height: 100%;

  > span {
    border-left: 1px solid var(--border);
    height: inherit;

    > button {
      transition: color var(--transition-duration);
      opacity: 0.75;
      font-size: 1.1rem;
      height: 100%;
      padding: 0 0.75rem;

      > svg {
        color: var(--text-secondary);
      }

      &:hover {
        opacity: 1;
        color: var(--accent-primary);
        background-color: var(--bg-body);
      }

      &:disabled {
        color: var(--text-secondary);
        opacity: var(--opacity-disabled);

        &:hover {
          cursor: default;
          background-color: var(--bg-primary);
        }
      }
    }
  }

  h4 {
    color: var(--text-tertiary);
    margin: 0 0.5rem 0 0;

    @media (max-width: #{$small-font-size-max-width}px) {
      display: none;
    }

    > span {
      margin: 0 0.4rem;
    }

    &.disabled {
      opacity: var(--opacity-disabled);
    }
  }
}
