// Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.btnText {
  color: var(--text-primary);
  border-radius: var(--btn-lg-radius);
  transition: color var(--transition-duration);
  &:hover {
    color: var(--text-secondary);
  }

  &.danger {
    color: var(--status-danger);
    &:hover {
      color: var(--status-danger);
    }
  }

  &.sm {
    font-size: var(--btn-sm-font-size);
    padding: var(--btn-sm-padding);
    padding-left: 0.45rem;
    padding-right: 0.45rem;
  }
}
