// Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.btnText {
  color: var(--text-color-primary);
  border-radius: var(--button-border-radius-large);
  font-size: var(--button-font-size-small);
  padding: 0.45rem;
}
