// Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.btnSubmit {
  border: 1px solid var(--accent-primary);
  border-radius: var(--btn-sm-radius);
  background: var(--accent-primary);
  color: white;
}

.btnSubmitSm {
  padding: var(--btn-lg-padding);
  font-size: var(--btn-sm-font-size);
}

.btnSubmitLg {
  padding: var(--btn-lg-padding);
  font-size: var(--btn-lg-font-size);
}

.btnSubmitPulse {
  box-shadow: 0 0 30px 0 var(--accent-pending);
  transform: scale(1);
  animation: pulse 2s infinite;

  @keyframes pulse {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 var(--accent-pending);
    }

    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgb(0 0 0 / 0%);
    }

    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgb(0 0 0 / 0%);
    }
  }
}
