// Copyright 2024 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

@import 'styles/theme/_variables';

.page-padding {
  padding-left: 1.25rem;
  padding-right: 1.25rem;

  @media (min-width: $page-width-small-threshold) {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }

  @media (min-width: $page-width-small-threshold) {
    padding: 0 5rem 0 2.5rem;
  }
}
