// Copyright 2024 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.headerButton {
  color: var(--text-color-secondary);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: inherit;
  margin: 0 0.4em;
  &.text {
    button {
      font-family: InterSemiBold, sans-serif;
      font-size: 0.95rem;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      width: auto;
      height: auto;
      border-radius: 0.75rem;
      padding: 0.4rem 0.75rem;
      &:disabled {
        &:hover {
          opacity: var(--opacity-disabled);
        }
      }
      > svg {
        margin-left: 0.2rem;
        margin-right: 0.5rem;
      }
    }
  }
}