// Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

@import 'styles/theme/_variables';

.headerButton {
  color: var(--text-color-secondary);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: inherit;
  margin: 0 0.4em;
  > button {
    background: var(--shimmer-foreground);
    color: var(--text-color-secondary);
    padding: 0 0.1rem;
    font-size: 1rem;
    border-radius: 50%;
    width: 1.9rem;
    height: 1.9rem;
    @media (min-width: $page-width-small-threshold) {
      padding: 0 0.2rem;
    }
    &:hover {
      opacity: 0.75;
    }
    &.active {
      color: var(--accent-color-primary);
    }
    &:disabled {
      opacity: var(--opacity-disabled);
    }
  }
  &.outline > button {
    border: 1px solid var(--border-secondary-color);
    border: none;
    background: none;
  }
  &.text > button {
    font-family: InterSemiBold, sans-serif;
    font-size: 0.95rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: auto;
    height: auto;
    border-radius: 0.75rem;
    padding: 0.4rem 0.75rem;
    &:disabled {
      &:hover {
        opacity: var(--opacity-disabled);
      }
    }
    > svg {
      margin-left: 0.2rem;
      margin-right: 0.5rem;
    }
  }
}
