// Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  src: url('./DMSans.woff2') format('woff2');
}

@font-face {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./DMSerifDisplay.woff2') format('woff2');
}

@font-face {
  font-family: 'DM Sans Semi Bold';
  font-style: normal;
  font-weight: 600;
  src: url('./DMSans.woff2') format('woff2');
}

@font-face {
  font-family: 'DM Sans Bold';
  font-style: normal;
  font-weight: 700;
  src: url('./DMSans.woff2') format('woff2');
}
