// Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  src: url('./Inter500.woff2') format('woff2');
}

@font-face {
  font-family: InterSemiBold;
  font-style: normal;
  font-weight: 600;
  src: url('./Inter600.woff2') format('woff2');
}

@font-face {
  font-family: InterBold;
  font-style: normal;
  font-weight: 700;
  src: url('./Inter700.woff2') format('woff2');
}

@font-face {
  font-family: Poppins700;
  font-style: normal;
  font-weight: 700;
  src: url('./Poppins700.woff2') format('woff2');
}
