// Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.statRow {
  display: flex;
  flex-flow: row wrap;
  margin-top: 1rem;
  > div:last-child {
    margin-bottom: 0;
    > div {
      margin-right: 0;
    }
  }
}
