// Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.title {
  border-bottom: 1px solid var(--border-secondary-color);
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 1rem;

  > h1 {
    font-family: InterBold, sans-serif;
    margin: 0;
    line-height: 2.2rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    margin: 0.75rem 0;
    display: flex;
    align-items: center;

    > button {
      margin-left: 0.75rem;
    }
  }

  > h3 {
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    > button {
      margin-left: 0.75rem;
    }
  }
}
