// Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.statTitle {
  font-family: InterBold, sans-serif;
  font-size: 1.2rem;
  display: flex;
  flex-flow: row wrap;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  &.primary {
    color: var(--accent-color-primary);
  }
  &.text {
    margin-top: 0.15rem;
    display: flex;
    align-items: center;
  }
  @media (min-width: 950px) {
    font-size: 1.25rem;
  }
}