// Copyright 2024 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.multiTwo {
  width: 200%;
  > div {
    flex-basis: 50%;
    min-width: 50%;
  }
}