// Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.separator {
  border-bottom: 1px solid var(--border-primary-color);
  margin: 0.67rem 0;
  width: 100%;

  &.lg {
    margin: 1.2rem 0;
  }

  &.transparent {
    border: none;
  }
}
