// Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.menuItem {
  border-bottom: 1px solid var(--border-primary-color);
  transition: background var(--transition-duration);
  padding: 1.65rem 1.25rem 1.25rem 1.5rem;
  display: flex;
  align-items: center;
  width: 100%;

  &:hover {
    background: var(--background-default);
  }
  > div {
    display: flex;
    align-items: center;

    &:first-child {
      color: var(--text-color-tertiary);
      padding-right: 0.75rem;
      width: 2.5rem;
      align-items: center;
      path {
        fill: var(--text-color-tertiary);
      }
    }

    &:last-child {
      flex-grow: 1;
      justify-content: flex-start;
      
      > h3 {
        color: var(--text-color-secondary);
        font-size: 1.25rem;
        > svg {
          margin-left: 0.5rem;
        }
      }
      
      > div {
        flex-grow: 1;
        display: flex;;
        justify-content: flex-end;
      }
    }
  }

  &:last-child {
    border: none;
  }
}