// Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

@use 'styles/theme/_variables' as *;

$button-padding: 1.3rem 1rem 1.2rem 1rem;

.menuItem {
  border-bottom: 1px solid var(--border);
  display: flex;
  align-items: center;
  width: 100%;

  &:first-child {
    border-top-left-radius: $popover-border-radius;
    border-top-right-radius: $popover-border-radius;
  }

  &:last-child {
    border-bottom-left-radius: $popover-border-radius;
    border-bottom-right-radius: $popover-border-radius;
  }

  &.button {
    padding: $button-padding;

    &:hover {
      background: var(--btn-popover-tab-bg);
    }

    &.disabled {
      cursor: default;
      > div {
        opacity: 0.4;
      }
    }
  }

  > button {
    padding: $button-padding;
    display: flex;
    flex: 0 0 50%;
    align-items: center;

    &:nth-child(2) {
      border-left: 1px solid var(--border);
    }
    &:hover {
      background: var(--btn-popover-tab-bg);
    }
    &:disabled {
      background: none;
      cursor: default;
    }
  }

  > div, > button > div {
    display: flex;
    align-items: center;

    &:first-child {
      color: var(--text-color-tertiary);
      margin-right: 0.85rem;
      flex-direction: row;
      justify-content: center;
      
      path {
        fill: var(--text-color-tertiary);
        opacity: 0.75;
      }
    }

    &:last-child {
      flex-grow: 1;
      justify-content: flex-start;

      > div {
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;

        > h4 {
          color: var(--text-color-tertiary);
           path {
            fill: var(--text-color-tertiary);
          }
        }
      }
    }

    > h3 {
      color: var(--text-color-secondary);
      font-size: 1.2rem;
      > svg {
        margin-left: 0.5rem;
      }
    }
  }

  &:last-child {
    border: none;
  }
}
