/* Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
SPDX-License-Identifier: GPL-3.0-only */

@use 'styles/theme/_variables' as *;

.btnAccount {
  color: var(--text-color-primary);
  transition: all var(--transition-duration);
  height: calc($header-height - 1px);
  display: flex;
  align-items: center;
  padding: 0 1rem 0 1rem;
  font-size: 1.2rem;

  &.marginLeft {
    margin-left: 0.8rem;
  }


  > .display {
    max-width: 12rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  
   > .icon {
    margin-left: 0.95rem;
  }

  > .iconLeft {
    margin-right: 1.25rem;
  }

    > .notSignedIn {
    color: var(--text-color-primary);
    margin-right: 0.5rem;
  }

  @media(max-width: $page-width-small-threshold) {
    > .minimize {
      display: none;
    }
    > .iconLeft {
      margin-right: 0px;
    }
  }

  > .label {
    font-size: 0.8em;
    margin-left: 0.75rem;
    margin-right: 0.5rem;
    position: relative;
    top: -0.05rem;
  }

  > .arrow {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0.25rem;
    margin-left: 0.2rem;

    > svg {
      opacity: 0.75;
      transition: opacity var(--transition-duration);
    }

    &.open {
      > svg {
        opacity: 0.5;
      }
    }
  }

  &:hover {
    background: var(--button-hover-background);
    color: var(--accent-color-primary);
    
    > .arrow {
      svg {
        opacity: 1;
      }
    }

    > .notSignedIn {
      color: var(--accent-color-primary);
    }
  }
}
