// Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

@use 'styles/theme/variables' as *;

.container {
  display: flex;
  place-content: flex-start flex-start;
  align-items: flex-start;
  flex-flow: row wrap;
  padding: 0 0.5rem 0.5rem;
  
  @media (width <= $row-section-thirds-threshold) {
    flex-wrap: wrap;
  }

  @media(width >= $row-section-thirds-threshold) {
    > div {
      min-width: 33.33%;
      max-width: 33.33%;
    }
  }
}

.button {
  display: flex;
  flex: 1;
  height: 6.2rem;
  padding: 0.4rem;

  .inner {
    background: var(--btn-popover-tab-bg);
    border: 1px solid var(--border);
    box-shadow: 0 4px 6px rgb(0 0 0 / 5%);
    border-radius: 0.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    cursor: pointer;
    flex: 1;
    padding-top: 0.5rem;

    &.disabled {
      cursor: default;

      > * {
        opacity: 0.4;
      }
    }

    @media (width <= 1150px) {
      min-width: 12rem;
    }
  
    > .icon {
      svg {
        filter: drop-shadow(3px 3px 2px var(--border-alt));
        transition: all 0.3s;
      }
    }

    > h4 {
      font-family: Inter, sans-serif;
      color: var(--text-secondary);
      margin-top: 0.5rem;
    }

    &.active {
      &:hover {
        background: var(--btn-bg-hover);

        > .icon > svg {
          transform: scale(1.1);
        }
      }
    }
  }
}

