/* Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
SPDX-License-Identifier: GPL-3.0-only */

@use 'styles/theme/variables' as *;

$header-button-width: 3.5rem;

.btnHeader {
  transition: all var(--transition-duration);
  height: calc($header-height - 1px);
  width: $header-button-width;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &:hover {
    background: var(--btn-bg-hover);
    color: var(--accent-primary);
  }
  
  > .active {
    background-color: var(--accent-primary);
    box-shadow: 0 0 0 1px var(--accent-primary);
    position: absolute;
    top: 0;
    right: 0;
    width: 6px;
    height: 6px;
    border-radius: 50%;

    &.pulse {
      border: 1.5px solid var(--bg-primary);
      animation: pulse 2s infinite;
      top: 0.6rem;
      right: 0.6rem;
      width: 12px;
      height: 12px;

      @keyframes pulse {
        0% {
          transform: scale(0.95);
          box-shadow: 0 0 0 0 rgb(255 82 181 / 70%);
        }

        70% {
          transform: scale(1);
          box-shadow: 0 0 0 5px rgb(255 82 181 / 0%);
        }

        100% {
          transform: scale(0.95);
          box-shadow: 0 0 0 0 rgb(255 82 181 / 0%);
        }
      }
    }
  }
}
