/* Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
SPDX-License-Identifier: GPL-3.0-only */

.btnHeader {
  background: var(--border-primary-color);
  transition: all var(--transition-duration);
  border-radius: 4rem;
  width: 3.25rem;
  height: 3.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &.marginLeft {
    margin-left: 0.8rem;
  }

  &:hover {
    background: var(--border-secondary-color);
  }

  > .active {
    background-color: var(--accent-color-primary);
    border: 2px solid var(--background-primary);
    box-shadow: 0 0 0 1px var(--accent-color-primary);
    position: absolute;
    top: -3px;
    right: -3px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    animation: pulse 2s infinite;

    @keyframes pulse {
      0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 82, 181, 0.7);
      }
      70% {
        transform: scale(1);
        box-shadow: 0 0 0 5px rgba(255, 82, 181, 0);
      }
      100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 82, 181, 0);
      }
    }
  }
}
