// Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.button {
  color: var(--text-color-secondary);
  font-family: InterSemiBold, sans-serif;
  padding-right: 0.25rem;
  font-size: 1.3rem;

  
  svg {
    margin-right: 0.2rem;
  }

  &.active {
   >  svg {
    color: var(--status-success-color);
    font-size: 1.4rem;
   }
  }

  &:disabled {
    cursor: default;
  }
}