// Copyright 2024 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.separator {
  border-bottom: 1px solid var(--border-primary-color);
  margin: 0.67rem 0;
  width: 100%;
}