/* Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
SPDX-License-Identifier: GPL-3.0-only */

@use 'sass:color';

.theme-kusama {
  $base-primary: rgb(51, 51, 53);
  $base-secondary: rgb(141 144 150);

  @for $i from 0 through 19 {
    --accent-primary-#{100 - ($i * 5)}: #{hsl(
        color.channel($base-primary, 'hue', $space: hsl),
        color.channel($base-primary, 'saturation', $space: hsl),
        $i * 5%
      )};
    --accent-secondary-#{100 - ($i * 5)}: #{hsl(
        color.channel($base-secondary, 'hue', $space: hsl),
        color.channel($base-secondary, 'saturation', $space: hsl),
        $i * 5%
      )};
  }

  --accent-primary-light: var(--accent-primary-90);
  --accent-primary-dark: var(--accent-primary-40);

  --accent-secondary-light: var(--accent-secondary-50);
  --accent-secondary-dark: var(--accent-secondary-55);

  --accent-tertiary-light: rgb(230, 230, 230);
  --accent-tertiary-dark: rgb(68, 68, 68);

  --accent-stroke-light: rgb(76, 75, 99);
  --accent-stroke-dark: rgb(209, 209, 219);

  --accent-transparent-light: rgb(51 51 51 / 5%);
  --accent-transparent-dark: rgb(102 102 102 / 5%);

  --accent-pending-light: rgb(51 51 51 / 50%);
  --accent-pending-dark: rgb(102 102 102 / 50%);
}
