/* Copyright 2026 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
SPDX-License-Identifier: GPL-3.0-only */

@use 'sass:color';

.paseo {
  --accent-transparent-light: rgb(60 170 110 / 5%);
  --accent-transparent-dark: rgb(60 170 110 / 5%);
}
