/* Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
SPDX-License-Identifier: GPL-3.0-only */

@use 'sass:color';

.theme-polkadot {
  $base-primary: rgb(211, 48, 121);
  $base-secondary: rgb(110, 71, 207);

  @for $i from 0 through 19 {
    --accent-color-primary-#{100 - ($i * 5)}: #{hsl(
        color.channel($base-primary, 'hue', $space: hsl),
        color.channel($base-primary, 'saturation', $space: hsl),
        $i * 5%
      )};
    --accent-color-secondary-#{100 - ($i * 5)}: #{hsl(
        color.channel($base-secondary, 'hue', $space: hsl),
        color.channel($base-secondary, 'saturation', $space: hsl),
        $i * 5%
      )};
  }

  --accent-color-primary-light: var(--accent-color-primary-50);
  --accent-color-primary-dark: var(--accent-color-primary-45);

  --accent-color-secondary-light: var(--accent-color-secondary-50);
  --accent-color-secondary-dark: var(--accent-color-secondary-40);

  --accent-color-tertiary-light: rgb(221, 217, 231);
  --accent-color-tertiary-dark: rgb(50, 38, 76);

  --accent-color-stroke-light: rgb(211 48 121);
  --accent-color-stroke-dark: rgb(211 48 121);

  --accent-color-transparent-light: rgb(211 48 121 / 5%);
  --accent-color-transparent-dark: rgb(211 48 121 / 5%);

  --accent-color-pending-light: rgb(211 48 121 / 50%);
  --accent-color-pending-dark: rgb(211 48 121 / 50%);
}
