/* Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
SPDX-License-Identifier: GPL-3.0-only */

.theme-polkadot-relay {
  $base-primary: rgb(211, 48, 121);
  $base-secondary: rgb(110, 71, 207);

  --accent-color-primary-default: #{$base-primary};
  --accent-color-secondary-default: #{$base-secondary};

  @for $i from 1 through 19 {
    --accent-color-primary-#{100 - ($i * 5)}: #{hsl(
        hue($base-primary),
        saturation($base-primary),
        $i * 5%
      )};
    --accent-color-secondary-#{100 - ($i * 5)}: #{hsl(
        hue($base-secondary),
        saturation($base-secondary),
        $i * 5%
      )};
  }

  --accent-color-tertiary-light: rgb(221, 217, 231);
  --accent-color-tertiary-dark: rgb(50, 38, 76);

  --accent-color-stroke-light: rgb(211 48 121);
  --accent-color-stroke-dark: rgb(211 48 121);

  --accent-color-transparent-light: rgb(211 48 121 / 5%);
  --accent-color-transparent-dark: rgb(211 48 121 / 5%);

  --accent-color-pending-light: rgb(211 48 121 / 50%);
  --accent-color-pending-dark: rgb(211 48 121 / 50%);
}
