// Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

@import 'styles/theme/_variables';

.cardHeader {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding: 0rem 0.25rem;
  width: 100%;
  &.action {
    flex-direction: row;
    align-items: center;
    justify-content: none;
  }
  &.margin {
    margin-bottom: 1rem;
  }
  > h2 {
    font-family: InterBold, sans-serif;
    margin-bottom: 1rem;
    > svg {
      width: 1.9rem;
      height: 1.9rem;
      margin-right: 0.5rem;
    }
  }
  > h2,
  > h3 {
    color: var(--text-color-primary);
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    flex-grow: 1;

    @media (max-width: $page-width-medium-threshold) {
      margin-top: 0.5rem;
    }
  }
  > h3,
  > h4 {
    font-family: InterSemiBold, sans-serif;
  }
  > h4 {
    margin-top: 0;
    margin-bottom: 0.4rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    flex-grow: 1;
  }
}
