/* Copyright 2024 @paritytech/polkadot-staking-dashboard authors & contributors
SPDX-License-Identifier: GPL-3.0-only */

.theme-kusama-relay {
  --accent-color-primary-light: rgb(31 41 55);
  --accent-color-primary-dark: rgb(126 131 141);

  --accent-color-secondary-light: #414c5c;
  --accent-color-secondary-dark: rgb(141 144 150);

  --accent-color-tertiary-light: #e6e6e6;
  --accent-color-tertiary-dark: #444444;

  --accent-color-stroke-light: #4c4b63;
  --accent-color-stroke-dark: #d1d1db;

  --accent-color-transparent-light: rgb(51 51 51 / 5%);
  --accent-color-transparent-dark: rgb(102 102 102 / 5%);

  --accent-color-pending-light: rgb(51 51 51 / 50%);
  --accent-color-pending-dark: rgb(102 102 102 / 50%);
}
