// Copyright 2024 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.accountTitle {
  border-bottom: 1px solid var(--border-secondary-color);
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 2rem 0 0.5rem 0;
  padding-bottom: 0.1rem;
  > div {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    flex: 1;
    > div {
      display: flex;
      flex: 1;
      &:nth-child(1) {
        max-width: 4rem;
      }
      &:nth-child(2) {
        padding-left: 1rem;
        flex-direction: column;
        > .title {
          position: relative;
          padding-top: 2rem;
          flex: 1;

          > h1 {
            position: absolute;
            top: 0;
            left: 0;
            margin: 0;
            line-height: 2rem;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            width: 100%;
          }
        }
      }
    }
  }
}
