// Copyright 2024 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.stat {
  background-color: var(--background-canvas-card-secondary);
  color: var(--text-color-secondary);
  font-family: InterBold, sans-serif;
  border-radius: 1.5rem;
  padding: 0rem 1.25rem;
  margin-right: 1rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 2.6rem;

  @media (max-width: 600px) {
    flex-grow: 1;
    justify-content: center;
    margin-bottom: 1rem;
    margin-right: 0;
    height: 2.9rem;
    width: 100%;

    &:last-child {
      margin-bottom: 0;
    }
  }
  &.withIcon {
    padding-left: 0.5rem;
  }
  > svg {
    width: 2.1rem;
    height: 2.1rem;
    margin-right: 0.3rem;
  }
}
