// Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.btnCore {
  font-family: InterSemiBold, sans-serif;
  box-sizing: border-box;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  * {
    box-sizing: border-box;
  }
}

.btnGrow {
  flex: 1 1 0%;
}

.btnSpacingLeft {
  margin-left: var(--btn-lg-spacing);
}

.btnSpacingRight {
  margin-right: var(--btn-lg-spacing);
}

.btnMarginX {
  margin: 0 var(--btn-lg-spacing);
}

.btnSmall {
  padding: var(--btn-sm-padding);
  font-size: var(--btn-sm-font-size);
}

.btnMedium {
  padding: var(--btn-md-padding);
  font-size: var(--btn-md-font-size);
}

.btnLarge {
  padding: var(--btn-lg-padding);
  font-size: var(--btn-lg-font-size);
}

.btnIconLeftSpacing {
  margin-left: var(--btn-sm-spacing);
  margin-right: var(--btn-lg-spacing);
}

.btnIconRightSpacing {
  margin-left: var(--btn-lg-spacing);
  margin-right: var(--btn-sm-spacing);
}

.btnDisabled {
  transition:
    opacity var(--transition-duration),
    color var(--transition-duration);
  opacity: var(--opacity-disabled);
  cursor: default;
}

.btnActiveTransforms {
  transition: transform var(--transition-duration);

  &:hover {
    transform: scale(1.02);
  }

  &:active {
    transform: scale(0.98);
  }
}
