// Copyright 2024 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

/* Mixins */

@mixin modal-position {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

@mixin modal-motion-sections {
  display: flex;
  height: auto;
  position: relative;
  overflow: hidden auto;
}

@mixin modal-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: inherit transparent;

  ::-webkit-scrollbar {
    width: 0.1rem;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
    border: 0;
  }

  ::-webkit-scrollbar-thumb {
    background-color: transparent; /* color of the scroll thumb */
    border-radius: 2rem; /* roundness of the scroll thumb */
    border: 0.1rem solid transparent; /* creates padding around scroll thumb */
  }
}

/* Component styles */

.modal-canvas-card {
  background: var(--background-floating-card);
  border-radius: 1.5rem;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  position: relative;
  overflow: hidden;
  margin-bottom: 1.25rem;
  padding: 1rem;
  width: 100%;

  h2 {
    color: var(--text-color-primary);
    padding: 0 0.75rem;
    margin: 0.5rem 0;
    width: 100%;
  }
}

.modal-canvas {
  @include modal-position;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 3rem;
  position: fixed;
  z-index: 10;

  /* click anywhere behind modal content to close */
  .close {
    @include modal-position;

    z-index: 8;
    cursor: default;
  }
}

.modal-canvas-content {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.canvas-scroll {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden auto;
  z-index: 9;
  max-width: 800px;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &.xl {
    max-width: 1250px;
  }
}

.modal-card {
  background: var(--background-modal);
  transition: opacity 0.15s;

  &.dimmed {
    opacity: 0;
  }

  h2 {
    margin: 1rem 0;

    &.unbounded {
      font-family: Unbounded, sans-serif;
      font-weight: 700;
    }

    &.title {
      font-size: 1.35rem;
      margin: 1.25rem 0 0;
    }
  }

  a {
    color: var(--accent-color-primary);
  }

  .header {
    display: flex;
    align-items: center;
    padding: 1rem 1rem 0;
    width: 100%;
  }

  .body {
    padding: 1rem;
  }
}

.modal-connect-item {
  padding: 0.5rem;
  flex-grow: 0;
  width: 50%;

  @media (max-width: 800px) {
    width: 100%;
  }

  &.can-connect {
    > .inner {
      transition: transform 0.15s;

      &:hover {
        transform: scale(1.015);
      }
    }
  }

  .foot {
    padding: 0.85rem;

    .link {
      color: var(--text-color-secondary);
      transition: color 0.15s;

      &:hover {
        color: var(--accent-color-primary);
      }

      > svg {
        margin-left: 0.35rem;
        margin-top: 0.3rem;
      }
    }
  }
}

.modal-container {
  @include modal-position;

  z-index: 9;

  > div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;

    /* click anywhere behind modal content to close */
    .close {
      position: fixed;
      width: 100%;
      height: 100%;
      z-index: 8;
      cursor: default;
    }
  }
}

.modal-content {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  padding: 5rem 0;

  > .buttons {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 2rem;
    position: relative;

    > button {
      border: 1px solid var(--accent-color-primary);
      color: var(--accent-color-primary);
      border-radius: 1.5rem;
      padding: 0.4rem 0.8rem;

      > svg {
        margin-right: 0.5rem;
      }
    }
  }

  &.canvas {
    padding: 0;
    min-height: 100vh;
  }

  h1 {
    font-family: Unbounded, sans-serif;
    margin-bottom: 1.75rem;
  }

  h3 {
    font-family: InterBold, sans-serif;
    margin: 2rem 0.5rem 1rem;
  }
}

.modal-custom-header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 0.5rem;
  position: relative;

  > div {
    &.first {
      display: flex;
      flex-grow: 1;

      h1 {
        color: var(--text-color-primary);
        font-size: 1.4rem;
        font-family: Unbounded, sans-serif;
        font-weight: 700;
        padding: 0 0.5rem;
        display: flex;
        align-items: center;

        > button {
          margin-left: 1.25rem;
        }
      }
    }
  }

  .close-modal {
    position: absolute;
    top: 0;
    right: 1.5rem;
    opacity: 0.25;

    &:hover {
      opacity: 1;
    }
  }
}

.modal-fixed-title {
  width: 100%;
  background: transparent;
  padding: 1rem 0 0;

  &.with-style {
    background: var(--background-default);
    padding: 1rem 1rem 0;
  }
}

.modal-footer {
  display: flex;
  align-items: center;
  width: 100%;

  h3 {
    color: var(--text-color-secondary);
    opacity: 0.5;
    position: relative;
    top: 1.25rem;

    &.active {
      color: var(--accent-color-primary);
      opacity: 1;
    }
  }
}

.modal-hardware-item {
  background: var(--button-primary-background);
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
  width: 100%;

  .body {
    padding: 0.5rem 0.85rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .row {
      display: flex;
      justify-content: center;

      p {
        margin-bottom: 0;
      }

      &.margin {
        margin-top: 0.75rem;
      }

      .logo {
        color: var(--text-color-secondary);
        height: 3rem;
        margin: 0.75rem 0.5rem 0.5rem;
      }
    }

    .status {
      position: absolute;
      top: 0.9rem;
      right: 0.9rem;
    }
  }
}

.modal-motion-three-sections {
  @include modal-motion-sections;

  width: 300%;

  > .section {
    @include modal-scrollbar;

    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    flex-basis: 33.33%;
    min-width: 33.33%;
    height: auto;
    overflow: hidden auto;
    flex-grow: 1;
  }
}

.modal-motion-two-sections {
  @include modal-motion-sections;

  width: 200%;

  > .section {
    @include modal-scrollbar;

    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    min-width: 50%;
    height: auto;
    overflow: hidden auto;
    flex-grow: 1;
  }
}

.modal-notes {
  width: 100%;
  padding: 0;

  &.with-padding {
    padding: 0.75rem 0;
  }

  > p {
    color: var(--text-color-secondary);
  }
}

.modal-overlay {
  @include modal-position;

  background: var(--modal-background-color);
  transition: backdrop-filter 0.5s;
  backdrop-filter: blur(4px);
  z-index: 9;
}

.modal-padding {
  display: flex;
  flex-flow: column wrap;
  padding: 1rem;

  &.vertical-only {
    padding: 1rem 0 0.25rem;
  }

  &.horizontal-only {
    padding: 0 1rem;
  }
}

.modal-scroll {
  @include modal-scrollbar;

  border-radius: 1.5rem;
  position: relative;
  z-index: 9;
  max-height: 100%;
  width: 100%;
  max-width: 600px;

  &.lg {
    max-width: 800px;
  }

  &.xl {
    max-width: 1250px;
  }

  &.transition-height {
    transition: height 0.5s cubic-bezier(0.1, 1, 0.2, 1);
  }

  ::-webkit-scrollbar {
    width: 0.1rem;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
    border: 0;
  }

  ::-webkit-scrollbar-thumb {
    background-color: transparent; /* color of the scroll thumb */
    border-radius: 2rem; /* roundness of the scroll thumb */
    border: 0.1rem solid transparent; /* creates padding around scroll thumb */
  }
}

.modal-carousel {
  display: flex;
  flex-flow: column wrap;
  padding: 0;
  position: relative;
  overflow: hidden auto;
  width: 100%;
}

.modal-tabs {
  width: 100%;
  display: flex;
  margin: 1.25rem 0 0.25rem;
}

.modal-separator {
  border-top: 1px solid var(--text-color-secondary);
  width: 100%;
  opacity: 0.1;
  margin: 0.8rem 0;
}

.modal-warnings {
  margin-top: 0;
  width: 100%;

  &.with-margin {
    margin-top: 0.75rem;
  }
}
