// Copyright 2024 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.interface {
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1;
  width: 100%;
  > div {
    display: flex;
    &.main {
      flex-grow: 1;
      display: flex;
      flex-direction: column;

      @media (max-width: 1000px) {
        flex-basis: 100%;
      }
    }
    &.side {
      min-width: 460px;
      padding-left: 2.5rem;

      @media (max-width: 1000px) {
        flex-grow: 1;
        flex-basis: 100%;
        margin-top: 0.5rem;
        padding-left: 0;
      }
      > div {
        width: 100%;
      }
    }
  }
}
