// Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.container {
  position: relative;
  width: 100%;
  display: flex;
}

.address {
  color: var(--text-color-tertiary);
  margin-top: 0.5rem;
  font-size: 1rem;
}

.sourceIcon {
  width: 1.25rem;
  height: 1.25rem;
  margin-top: 0.5rem;
  
  svg {
    width: 100%;
    height: 100%;
  }
}