// Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.container {
  background: var(--background-floating-card);
  border: 1px solid var(--border-primary-color);
  position: relative;
  padding: 0 .8rem;
  height: 4.75rem;
  border-radius: 0.75rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.15s;
  gap: 0.75rem;
  width: 100%;

  &:hover {
    border-color: var(--accent-color-primary);
  }
}

.input {
  color: var(--text-color-primary);
  font-family: InterSemiBold, sans-serif;
  font-size: 1.2rem;
  flex: 1;
  width: 100%;
  padding: 0;

  &:focus {
    padding: 0;
    min-height: 4.75rem;
  }

  &::placeholder {
    opacity: 0.65;
  }
}

.address {
  color: var(--text-color-tertiary);
  margin-top: 0.5rem;
  font-size: 1rem;
}

.sourceIcon {
  width: 1.25rem;
  height: 1.25rem;
  margin-top: 0.5rem;
  
  svg {
    width: 100%;
    height: 100%;
  }
}

.innerLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
}

.innerRight {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  padding-left: 0.5rem;

  h4 {
    color: var(--text-color-secondary);
    font-size: 0.95rem;
  }
}

.balance {
  color: var(--text-color-secondary);
  font-size: 0.95rem;
}