// Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.container {
  background: var(--background-floating-card);
  border: 1px solid var(--border-primary-color);
  position: relative;
  padding: 0 0.95rem;
  height: 4.95rem;
  border-radius: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.15s;
  gap: 0.75rem;
  width: 100%;

  &:hover {
    border-color: var(--accent-color-pending);
  }

  &.disabled {
    cursor: default;
    &:hover {
      border-color: var(--border-secondary-color);
    }
  }
}

.input {
  color: var(--text-color-primary);
  font-family: InterSemiBold, sans-serif;
  font-size: 1.2rem;
  flex: 1;
  width: 100%;
  padding: 0;

  &.enabled {
    &:focus {
      min-height: 4.75rem;
      max-height: 4.75rem;
    }
  }

  &.disabled {
    min-height: none;
    max-height: none;
  }

  &::placeholder {
    opacity: 0.65;
  }
}

.address {
  color: var(--text-color-tertiary);
  margin-top: 0.5rem;
  font-size: 1rem;
}

.sourceIcon {
  margin-top: 0.25rem;
  margin-right: 0.5rem;
  
  > svg {
    width: 1.3rem;
    height: 1.3rem;
  }
}

.innerLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
}

.innerRight {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-left: 0.5rem;

  h4 {
    color: var(--text-color-secondary);
    font-size: 0.95rem;
  }

  > div:nth-child(2) {
    display: flex;
    align-items: center;
  }
}

.balance {
  color: var(--text-color-secondary);
  font-size: 0.95rem;
}

.listContainer {
  background: var(--button-popover-tab-background);
  border: 1px solid var(--border-primary-color);
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border-bottom-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
  z-index: 101;
  overflow: hidden;
}

.listItem {
  background: var(--background-floating-card);
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 1rem 1.25rem;
  cursor: pointer;

  &:hover {
    background: var(--background-primary);
  }

  &.selected {
    background: var(--background-primary);
  }
}

.listName {
  color: var(--text-color-primary);
  font-family: InterSemiBold, sans-serif;
  font-size: 1.1rem;
}