// Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.container {
  position: relative;
  width: 100%;
  display: flex;
}

.input {
  color: var(--text-color-primary);
  font-family: InterSemiBold, sans-serif;
  font-size: 1.2rem;
  flex: 1;
  width: 100%;
  padding: 0;

  &:focus {
    padding: 0;
    min-height: 4.75rem;
  }

  &::placeholder {
    opacity: 0.65;
  }
}

.address {
  color: var(--text-color-tertiary);
  margin-top: 0.5rem;
  font-size: 1rem;
}

.sourceIcon {
  width: 1.25rem;
  height: 1.25rem;
  margin-top: 0.5rem;
  
  svg {
    width: 100%;
    height: 100%;
  }
}

.innerRight {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  padding-left: 0.5rem;

  h4 {
    color: var(--text-color-secondary);
    font-size: 0.95rem;
  }
}

.balance {
  color: var(--text-color-secondary);
  font-size: 0.95rem;
}