// Copyright 2024 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.buttonRow {
  display: flex;
  align-items: center;

  &.yMargin {
    margin-top: 1rem;
  }
  &.xMargin {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }
}
