// Copyright 2024 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.fixedPosition { 
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}