// Copyright 2024 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.fixedPosition { 
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.scrollBar {
  scrollbar-width: thin;
  scrollbar-color: inherit transparent;
  ::-webkit-scrollbar {
    width: 0.1rem;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
    border: 0;
  }
  ::-webkit-scrollbar-thumb {
    background-color: transparent; /* color of the scroll thumb */
    border-radius: 2rem; /* roundness of the scroll thumb */
    border: 0.1rem solid transparent; /* creates padding around scroll thumb */
  }
}

.modalMulti {
  display: flex;
  height: auto;
  position: relative;
  overflow: hidden auto;

}