// Copyright 2024 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.modal-content {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  padding: 5rem 0;

  > .buttons {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 2rem;
    position: relative;

    > button {
      border: 1px solid var(--accent-color-primary);
      color: var(--accent-color-primary);
      border-radius: 1.5rem;
      padding: 0.4rem 0.8rem;

      > svg {
        margin-right: 0.5rem;
      }
    }
  }

  &.canvas {
    padding: 0;
    min-height: 100vh;
  }

  h1 {
    font-family: Poppins700, sans-serif;
    margin-bottom: 1.75rem;
  }

  h3 {
    font-family: InterSemiBold, sans-serif;
    margin: 2rem 0.5rem 1rem;
  }
}

.modal-custom-header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 0.5rem;
  position: relative;

  > div {
    &.first {
      display: flex;
      flex-grow: 1;

      h1 {
        color: var(--text-color-primary);
        font-size: 1.4rem;
        font-family: Poppins700, sans-serif;
        font-weight: 700;
        padding: 0 0.5rem;
        display: flex;
        align-items: center;

        > button {
          margin-left: 1.25rem;
        }
      }
    }
  }
}

