// Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

@use 'styles/theme/variables' as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-height: 50vh;
  max-height: none;
  overflow: hidden;

  @media (min-width: $page-width-small-threshold) {
    flex-direction: row;
    max-height: 450px;
  }
}

.leftColumn {
  flex: 1;
  overflow: hidden auto;
  max-height: 50vh;
  min-height: 50vh;

  @media (min-width: $page-width-small-threshold) {
    max-height: none;
    flex: 2;
  }
}

.rightColumn {
  flex: 1;
  border-left: none;
  border-top: 1px solid var(--border);
  padding-left: 0;
  padding-top: 1rem;

  @media (min-width: $page-width-small-threshold) {
    border-left: 1px solid var(--border);
    padding-left: 1rem;
    flex: 1;
  }
}

.header {
  color: var(--text-secondary);
  margin: 0 0 0.5rem;
}

.searchHeader {
  color: var(--text-secondary);
  margin: 1rem 0 0.5rem;
}

.loadingWrapper {
  color: var(--text-secondary);
  padding: 1rem;
  text-align: center;
}

.noResultsWrapper {
  padding: 1rem;
  text-align: center;
}

.selectedList {
  border: 1px solid var(--border-alt);
  max-height: 250px;
  overflow-y: auto;
  border-radius: 0.5rem;
  padding: 0.5rem;

  @media (min-width: $page-width-small-threshold) {
    max-height: 350px;
  }
}

.emptyState {
  border: 1px dashed var(--border-alt);
  color: var(--text-secondary);
  padding: 2rem 1rem;
  text-align: center;
  border-radius: 0.5rem;

  small {
    display: block;
    margin-top: 0.25rem;
  }
}

.clearButton {
  border: 1px solid var(--status-error-color);
  color: var(--text-primary);
  margin-top: 0.5rem;
  width: 100%;
  padding: 0.5rem;
  background: transparent;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 0.875rem;

  &:hover {
    background: var(--status-error-color);
    color: var(--text-secondary);
  }
}

.nominationsCounter {
  padding: 0.75rem 0;
  margin: 1rem 0 0.5rem;
  border-radius: 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nominationsText {
  color: var(--text-secondary);
  font-family: InterSemiBold, sans-serif;
}

.remainingText {
  &.hasRemaining {
    color: var(--accent-primary);
  }

  &.noRemaining {
    color: var(--text-secondary);
  }
}
