/* Copyright 2022 @paritytech/polkadot-staking-dashboard authors & contributors
 * SPDX-License-Identifier: Apache-2.0 */

@font-face {
  font-family: 'Inter';
  font-style: normal;
  src: url('../public/fonts/Inter.ttf');
}

@font-face {
  font-family: 'Unbounded';
  font-style: normal;
  src: url('../public/fonts/Unbounded.ttf');
}

/* global font size */
html {
  font-size: 10px;
}

@media (min-width: 600px) {
  html {
    font-size: 11.2px;
  }
}

@media (min-width: 1600px) {
  html {
    font-size: 11.7px;
  }
}

body {
  margin: 0;
  font-family: 'Inter', 'sans-serif', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  font-variation-settings: 'wght' 500;
}

h1 {
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 1.6rem;
  font-variation-settings: 'wght' 600;
  margin: 0 0 0.4rem 0;
}

h2 {
  font-weight: normal;
  font-size: 1.45rem;
  line-height: 1.65rem;
  font-variation-settings: 'wght' 625;
  margin: 1rem 0;
}

h3 {
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 1.55rem;
  font-variation-settings: 'wght' 560;
  margin: 1rem 0;
}

h4 {
  font-weight: normal;
  font-size: 1.1rem;
  line-height: 1.65rem;
  font-variation-settings: 'wght' 500;
  margin: 1.25rem 0;
}

h5 {
  font-weight: normal;
  font-size: 0.92rem;
  line-height: 1.02rem;
  margin: 1.25rem 0;
  font-variation-settings: 'wght' 540;
}

p {
  font-size: 0.98rem;
  line-height: 1.5rem;
  margin: 0.75rem 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  font-weight: normal;
  font-variation-settings: 'wght' 600;
}

.label {
  font-size: 0.85rem;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
}

.theme-aleph-zero,
.theme-aleph-zero-testnet {
  --color-primary-light: rgb(0, 204, 171);
  --color-primary-dark: rgb(0, 204, 171);
  --color-secondary-light: #00eac7;
  --color-secondary-dark: #00eac7;
  --color-transparent-light: rgb(0, 204, 171, 0.05);
  --color-transparent-dark: rgb(0, 204, 171, 0.05);
  --color-stroke-light: #ff4f4c;
  --color-stroke-dark: #ff4f4c;
}
.theme-aleph-zero,
.theme-aleph-zero-testnet.theme-light #logotype_brandmark {
  fill: #111b24;
}

.theme-aleph-zero.theme-dark #logotype_brandmark,
.theme-aleph-zero-testnet.theme-dark #logotype_brandmark {
  fill: white;
}

.theme-aleph-zero .btn-primary,
.theme-aleph-zero-testnet .btn-primary {
  color: #111b24;
}

.theme-aleph-zero .connect > svg path,
.theme-aleph-zero-testnet .connect > svg path {
  fill: #111b24 !important;
}

.theme-aleph-zero .connect > span,
.theme-aleph-zero-testnet .connect > span {
  color: #111b24;
}
