/* Copyright 2022 @paritytech/polkadot-staking-dashboard authors & contributors
 * SPDX-License-Identifier: Apache-2.0 */

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../public/fonts/WorkSans-VariableFont_wght.ttf');
}

/* global font size */
html {
  font-size: 11px;
}

@media(min-width: 600px) {
  html {
    font-size: 12.3px;
  }
}

@media(min-width: 1600px) {
  html {
    font-size: 12.8px;
  }
}

body {
  margin: 0;
  font-family: 'Work Sans', 'sans-serif', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

h1 {
  font-weight: normal;
  font-size: 1.6rem;
  font-variation-settings: 'wght' 600;
  margin: 0 0 0.4rem 0;
}

h2 {
  font-variation-settings: 'wght' 580;
  font-weight: normal;
  font-size: 1.55rem;
}

h3 {
  font-variation-settings: 'wght' 600;
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 1.35rem;
}

h4 {
  font-variation-settings: 'wght' 540;
  font-weight: normal;
  font-size: 1.05rem;
  line-height: 1.6rem;
}

h5 {
  color: #333;
  font-variation-settings: 'wght' 540;
  font-weight: normal;
  font-size: 0.89rem;
  margin: 1rem 0;
}

p {
  font-size: 0.98rem;
  line-height: 1.4rem;
  margin: 0.5rem 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  font-variation-settings: 'wght' 525;
}

button {
  font-family: 'Work Sans', 'sans-serif', sans-serif;
  background: none;
  box-shadow: none;
  border: none;
  cursor: pointer;
  font-variation-settings: 'wght' 525;
}

.label {
  font-size: 0.85rem;
  font-variation-settings: 'wght' 450;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
}