/* Copyright 2022 @rossbulat/polkadot-staking-experience authors & contributors
 * SPDX-License-Identifier: Apache-2.0 */

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../public/fonts/WorkSans-VariableFont_wght.ttf');
}

html {
  font-size: 15px; /* global font size */
}

body {
  margin: 0;
  font-family: 'Work Sans', 'sans-serif', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

h1 {
  font-weight: normal;
  font-size: 1.4rem;
  font-variation-settings: 'wght' 510;
  margin: 0 0 0.4rem 0;
  }

h2 {
  font-variation-settings: 'wght' 500;
  font-weight: normal;
  font-size: 1.35rem;
}

h3 {
  font-variation-settings: 'wght' 530;
  font-weight: normal;
  font-size: 1.02rem;
}

h4 {
  font-variation-settings: 'wght' 490;
  font-weight: normal;
  font-size: 0.95rem;
  line-height: 1.4rem;
}

h5 {
  color: #333;
  font-variation-settings: 'wght' 450;
  font-weight: normal;
  font-size: 0.88rem;
  margin: 1rem 0;
}

p {
  font-size: 0.92rem;
  line-height: 1.5rem;
  margin: 0.5rem 0;
}
a {
  text-decoration: none;
  cursor: pointer;
  font-variation-settings: 'wght' 525;
}

button {
  font-family: 'Work Sans', 'sans-serif', sans-serif;
  background: none;
  box-shadow: none;
  border: none;
  cursor: pointer;
  font-variation-settings: 'wght' 525;
}

label {
  font-size: 0.85rem;
  font-variation-settings: 'wght' 450;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
}

input {
  border: none;
  border-bottom: 1px solid #ddd;
  padding: 0.7rem 0rem;
  font-size: 1.1rem;
  background: none;
  transition: all 0.2s;
}


input::placeholder {
  color: #bbb;
}
input:focus, textarea:focus, select:focus{
  outline: none;
  border-bottom: 1px solid rgba(211, 48, 121, 0.6);
}