@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../public/fonts/WorkSans-VariableFont_wght.ttf');
}

body {
  margin: 0;
  font-family: 'Work Sans', 'sans-serif', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

h1 {
  font-weight: normal;
  font-size: 2.15rem;
  font-variation-settings: 'wght' 675;
  margin-top: 0;
}

h2 {
  color: #555;
  font-variation-settings: 'wght' 450;
  font-weight: normal;
  font-size: 1.5rem;
}

h3 {
  font-variation-settings: 'wght' 575;
  font-weight: normal;
  font-size: 1.05rem;
}
h4 {
  font-variation-settings: 'wght' 490;
  font-weight: normal;
  font-size: 0.9rem;
}

a {
  color: #222;
  text-decoration: none;
  cursor: pointer;
  font-variation-settings: 'wght' 525;
}

button {
  font-family: 'Work Sans', 'sans-serif', sans-serif;
  background: none;
  box-shadow: none;
  border: none;
  cursor: pointer;
  font-variation-settings: 'wght' 525;
}