/* Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
SPDX-License-Identifier: GPL-3.0-only */

.page {
  display: flex;
  flex-direction: column;
  padding-bottom: 0.75rem;
  width: 100%;
  margin: 0 auto;
}
