// Copyright 2024 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.modalContainer {
  z-index: 9;
  > div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
  }
  .close {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 8;
    cursor: default;
  }
}
