// Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.title {
  font-family: var(--font-family-default);
  font-size: 1.5rem;
  margin: 1rem 0;
}
