/* Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
SPDX-License-Identifier: GPL-3.0-only */

$max-page-width-lg: 1450px;
$max-page-width-sm: 1100px;
$page-width-medium-threshold: 1150px;
$page-width-small-threshold: 826px;
$row-section-thirds-threshold: 1400px;
$side-menu-maximised-width: 145px;
$side-menu-minimised-width: 75px;
$side-menu-hidden-width: 195px;
