/* Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
SPDX-License-Identifier: GPL-3.0-only */

@import '_variables';

html {
  font-size: 10.5px;
  @media (min-width: 600px) {
    font-size: 11px;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  font-weight: normal;
  margin: 0;
}

h1 {
  color: var(--text-color-primary);
  font-family: InterSemiBold, sans-serif;
  font-size: 1.6rem;
  line-height: 1.6rem;
  font-weight: 600;
  margin: 0;
}

h2 {
  color: var(--text-color-primary);
  font-family: InterSemiBold, sans-serif;
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-weight: 600;
  margin: 0;
}

h3 {
  color: var(--text-color-primary);
  font-family: InterSemiBold, sans-serif;
  font-size: 1.25rem;
  line-height: 1.55rem;
  font-weight: 500;
  margin: 0;
}

h4 {
  color: var(--text-color-secondary);
  font-family: InterSemiBold, sans-serif;
  font-size: 1.08rem;
  line-height: 1.65rem;
  font-weight: 500;
  margin: 0;
}

h5 {
  color: var(--text-color-secondary);
  font-size: 0.92rem;
  line-height: 1.02rem;
  font-weight: 500;
  margin: 0;
}

p {
  color: var(--text-color-secondary);
  font-size: 1.04rem;
  line-height: 1.5rem;
  margin: 0.75rem 0;
}

a {
  color: var(--text-color-secondary);
  text-decoration: none;
  cursor: pointer;
}

button {
  color: var(--text-color-secondary);
  -webkit-tap-highlight-color: transparent;
  font-family: Inter, sans-serif;
  background: none;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

input {
  color: var(--text-color-primary);
  font-family: Inter, sans-serif;
  font-size: 1.1rem;
  padding: 0.7rem 0;
  background: none;
  border: none;
  &::placeholder {
    color: #aaa;
  }
  &.underline {
    border-bottom: 1px solid #ddd;
  }
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none;
}

path.primary,
circle.primary,
ellipse.primary {
  fill: var(--text-color-primary);
}

path.accent,
circle.accent,
ellipse.accent {
  fill: var(--accent-color-primary);
}

label {
  color: var(--text-color-primary);
}

.page-padding {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  @media (min-width: $page-width-small-threshold) {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }
  @media (min-width: $page-width-small-threshold) {
    padding: 0 5rem 0 2.5rem;
  }
}

.container-width {
  max-width: $max-page-width-sm;
  @media (min-width: $row-section-thirds-threshold) {
    max-width: $max-page-width-lg;
  }
}
