/* Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
SPDX-License-Identifier: GPL-3.0-only */

/* general styles */
:root {
  --btn-sm-radius: 0.75rem;
  --btn-sm-padding: 0.45rem 1rem;
  --btn-sm-spacing: 0.125rem;
  --btn-sm-font-size: 1rem;
  --btn-md-padding: 0.5rem 1.25rem;
  --btn-md-font-size: 1.1rem;
  --btn-lg-radius: 1.5rem;
  --btn-lg-padding: 0.53rem 1rem;
  --btn-lg-spacing: 0.625rem;
  --btn-lg-font-size: 1.15rem;
  --transition-duration: 0.15s;
  --opacity-disabled: 0.3;
}

/* light theme colors */
.light {
  --bg-body: #efeeee;
  --bg-primary: #f8f7f7;
  --bg-invert: #333;
  --bg-list: rgb(238 238 238 / 100%);
  --bg-card-modal: rgb(237 237 237 / 75%);
  --bg-card-canvas: rgb(245 245 245 / 90%);
  --bg-card-canvas-alt: rgb(255 255 255 / 35%);
  --bg-card-floating: rgb(255 255 255 / 90%);
  --bg-modal: #f9f7f7;
  --bg-modal-footer: #efefef;
  --bg-menu: #eaeaea;
  --bg-overlay: rgb(228 226 228 / 80%);
  --bg-prompt: rgb(200 200 200 / 65%);
  --bg-input: #fdfdfd;
  --border: #e2e2e2;
  --border-alt: #cfcccc;
  --btn-bg: #efeeee;
  --btn-bg-secondary: #f1f1f1;
  --btn-bg-tertiary: #ececec;
  --btn-tab: #e4e2e2;
  --btn-canvas-tab: #d9d9d9;
  --btn-bg-hover: #e9e9e9;
  --btn-popover-tab-bg: #f3f3f3;
  --shadow-primary: rgb(27 19 19 / 20%);
  --shadow-secondary: #e7e7e7;
  --shadow-tertiary: rgb(158 158 158 / 50%);
  --accent-primary: var(--accent-primary-light);
  --accent-secondary: var(--accent-secondary-light);
  --accent-tertiary: var(--accent-tertiary-light);
  --accent-stroke: var(--accent-stroke-light);
  --accent-transparent: var(--accent-transparent-light);
  --accent-pending: var(--accent-pending-light);
  --shimmer-fg: #e0e0e0;
  --shimmer-bg: #c4c4c4;
  --status-success: green;
  --status-success-transparent: rgb(0 128 0 / 25%);
  --status-warning: #a78a3a;
  --status-warning-transparent: rgb(236 211 125 / 50%);
  --status-warning-bg: rgb(236 211 125 / 10%);
  --status-danger: #ae2324;
  --status-danger-transparent: rgb(255 0 0 / 25%);
  --status-danger-bg: rgb(255 0 0 / 5%);
  --text-primary: #2f2f2f;
  --text-secondary: #585858;
  --text-tertiary: #888;
  --text-invert: #fafafa;
  --gradient-menu: linear-gradient(
    180deg,
    rgb(244 242 242 / 93%) 0%,
    rgb(228 225 225 / 93%) 100%
  );
  --highlight: rgb(0 0 0 / 4%) 0%;
  --highlight-alt: linear-gradient(
    90deg,
    rgb(0 0 0 / 6%) 0%,
    rgb(0 0 0 / 1%) 95%,
    rgb(0 0 0 / 0%) 100%
  );
  --grid-primary: #e3e3e3;
  --grid-secondary: #e8e8e8;
  --grid-canvas-axis: #222;
  --grid-canvas: #ccc;
  --shadow:
    -1px -2px 12px 1px var(--shadow-secondary),
    0px 0.5px 1px 0px var(--shadow-tertiary),
    0 3.5px 6px -1px var(--shadow-primary),
    0.4px -0.4px 0px 0px var(--shadow-primary),
    -0.4px 0px 0px 0px var(--shadow-primary);
  --shadow-alt:
    0px 1px 1px 0px var(--shadow-secondary),
    0 0.5px 1px -1px var(--shadow-secondary),
    0.4px -0.4px 0px 0px var(--shadow-secondary),
    -0.4px 0px 0px 0px var(--shadow-secondary);
}

/* dark theme colors */
.dark {
  --bg-body: rgb(21 21 21);
  --bg-primary: rgb(30 30 30);
  --bg-invert: #ddd;
  --bg-list: rgb(24 24 24 / 100%);
  --bg-card-modal: rgb(20 20 20 / 50%);
  --bg-card-canvas: rgb(28 28 28 / 90%);
  --bg-card-canvas-alt: rgb(28 28 28 / 35%);
  --bg-card-floating: rgb(27 27 27 / 95%);
  --bg-modal: rgb(27 27 27);
  --bg-modal-footer: rgb(22 22 22);
  --bg-menu: rgb(36 36 36);
  --bg-input: rgb(45 45 45);
  --border: rgb(38 38 38);
  --border-alt: rgb(60 60 60);
  --btn-bg: rgb(38 38 38);
  --btn-bg-secondary: rgb(35 35 35);
  --btn-bg-tertiary: rgb(34 34 34);
  --btn-tab: rgb(36 36 36);
  --btn-canvas-tab: rgb(40 40 40);
  --btn-bg-hover: rgb(44 44 44);
  --btn-popover-tab-bg: rgb(32 32 32);
  --shadow-primary: rgb(0 0 0 / 25%);
  --shadow-secondary: rgb(0 0 0 / 25%);
  --shadow-tertiary: rgb(0 0 0 / 50%);
  --accent-primary: var(--accent-primary-dark);
  --accent-secondary: var(--accent-secondary-dark);
  --accent-tertiary: var(--accent-tertiary-dark);
  --accent-stroke: var(--accent-stroke-dark);
  --accent-transparent: var(--accent-transparent-dark);
  --accent-pending: var(--accent-pending-dark);
  --bg-overlay: rgb(16 16 16 / 80%);
  --bg-prompt: rgb(10 10 10 / 70%);
  --shimmer-bg: rgb(36 36 36);
  --shimmer-fg: rgb(20 20 20);
  --status-success: #74da77;
  --status-success-transparent: rgb(0 128 0 / 25%);
  --status-warning: rgb(219 161 0 / 100%);
  --status-warning-transparent: rgb(255 165 0 / 50%);
  --status-warning-bg: rgb(236 211 125 / 10%);
  --status-danger: #d14445;
  --status-danger-transparent: rgb(255 0 0 / 25%);
  --status-danger-bg: rgb(255 0 0 / 5%);
  --text-primary: #e7e9ea;
  --text-secondary: #9ca3af;
  --text-tertiary: #6b7280;
  --text-invert: #0f0f0f;
  --gradient-menu: linear-gradient(
    180deg,
    rgb(32 32 32) 0%,
    rgb(20 20 20) 100%
  );
  --highlight: rgb(255 255 255 / 3%);
  --highlight-alt: linear-gradient(
    90deg,
    rgb(255 255 255 / 3%) 0%,
    rgb(255 255 255 / 1%) 100%
  );
  --grid-primary: rgb(34 34 34);
  --grid-secondary: rgb(36 36 36);
  --grid-canvas-axis: #eee;
  --grid-canvas: #444;
  --shadow:
    -1px -2px 12px 1px var(--shadow-secondary),
    0px 0.75px 1px 0px var(--shadow-tertiary),
    0 3.5px 6px -1px var(--shadow-primary),
    0.4px -0.4px 0px 0px var(--shadow-primary),
    -0.4px 0px 0px 0px var(--shadow-primary);
  --shadow-alt:
    0px 1px 1px 0px var(--shadow-secondary),
    0.4px -0.4px 0px 0px var(--shadow-secondary),
    -0.4px 0px 0px 0px var(--shadow-secondary);
}
