/* Copyright 2025 @polkadot-cloud/polkadot-staking-dashboard authors & contributors
SPDX-License-Identifier: GPL-3.0-only */

// Page layout
$max-page-width-lg: 1450px;
$max-page-width-sm: 1100px;

// Media thresholds
$page-width-medium-threshold: 1150px;
$page-width-small-threshold: 826px;
$row-section-thirds-threshold: 1400px;
$small-font-size-max-width: 600px;

// Side menu 
$side-bar-width: 60px;
$side-nav-maximised-width: 145px;
$side-nav-minimised-width: 75px;
$side-menu-floating-width: 250px;

// Header
$header-height: 3.75rem;

// Popover
$popover-border-radius: 0.75rem;

// Overview
$summary-footer-height: 3rem;
$summary-footer-padding: 0.7rem;