name: GitHub Pages Publish

on:
  push:
    branches: [main]

jobs:
  merge:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: gh-deploy

      - uses: actions/setup-node@v4
        with:
          node-version: 18
          registry-url: https://registry.npmjs.org

      - name: Merge
        uses: devmasx/merge-branch@master
        with:
          type: now
          from_branch: main
          target_branch: gh-deploy
          github_token: ${{ secrets.GITHUB_TOKEN }}

  build:
    runs-on: ubuntu-latest
    needs: merge
    steps:
      - uses: actions/checkout@v4
        with:
          ref: gh-deploy

      - uses: actions/setup-node@v4
        with:
          node-version: 18
          registry-url: https://registry.npmjs.org

      - name: Install
        run: yarn install

      - name: Build
        working-directory: 'packages/app'
        run: yarn build

      - name: Upload Artifact
        uses: actions/upload-pages-artifact@v3
        with:
          name: github-pages
          path: packages/app/build

  deploy:
    runs-on: ubuntu-latest
    needs: build

    permissions:
      id-token: write
      pages: write

    environment:
      name: github-pages
      url: ${{steps.deployment.outputs.page_url}}

    steps:
      - uses: actions/download-artifact@master
        with:
          name: github-pages
          path: packages/app/build
      - uses: actions/configure-pages@v5
      - id: deployment
        uses: actions/deploy-pages@main
