name: 'Close Stale PRs'

on:
  schedule:
    - cron: '30 1 * * *'

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v9
        with:
          stale-pr-message: 'This PR is stale because it has been open 90 days with no activity. Remove stale label or comment or this will be closed in 14 days.'
          close-pr-message: 'This PR was closed because it has been stale for 14 days with no activity.'
          days-before-pr-stale: 90
          days-before-pr-close: 14
          repo-token: ${{ secrets.GITHUB_TOKEN }}
